<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
    <key>passiveRingCreator</key>
    <string>MatchSenseGraciousValidator</string>
    <key>enumIdealHumor</key>
    <string>SwiftScrollFinishProxy</string>
    <key>folderProxy</key>
    <string>SunnyReturnWinterExtension</string>
</dict>
</plist>
