<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
    <key>pastDelegateMutualFormal</key>
    <string>CanvasSteadySortHelper</string>
    <key>modalAddCacheSplash</key>
    <string>SymbolSendZenithPool</string>
    <key>handsomeTrustPast</key>
    <string>SyncLooseLaunchAdapter</string>
    <key>quirkMultiplyTameBuilder</key>
    <string>UrbanBraveTrainInstance</string>
    <key>engineQuickMedia</key>
    <string>WriteFancyZoneCommand</string>
    <key>ornateUmbraCreatorSend</key>
    <string>SmartCleanBelowProxy</string>
</dict>
</plist>
