<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
    <key>testOptionToolEnergetic</key>
    <string>ScopeOfCleanGroup</string>
    <key>carefulAuroraDelegateEnable</key>
    <string>ViableResetLayerSaver</string>
    <key>kindSaverPastFrost</key>
    <string>ConvertUrchinCleanCreator</string>
    <key>statePauseYield</key>
    <string>MutualHeavenRoundView</string>
</dict>
</plist>
