<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
    <key>withTenderParadise</key>
    <string>ImportBonnySpeakBuilder</string>
    <key>moduleExtensionHarmonicTest</key>
    <string>TinyLandscapeUntilReference</string>
    <key>gladeArrayMeasuredAdd</key>
    <string>FloraTimelyAcceptModel</string>
    <key>languageDataSourceSuperCreate</key>
    <string>SplitOverCoralStrategy</string>
    <key>fondUnderDecorator</key>
    <string>BrilliantUpHardyHandler</string>
    <key>giftedImplementSupplyAdd</key>
    <string>FromSpokeBroadBase</string>
    <key>fillFreeManagerDelicate</key>
    <string>MultiplySpringAccurateObserver</string>
    <key>fancyToolSelect</key>
    <string>RusticBirchDownEnum</string>
</dict>
</plist>
