<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
    <key>collectionRunShadow</key>
    <string>JoyfulResumeChasmCoordinator</string>
    <key>chiefRetreatLockInterpreter</key>
    <string>DetectIdlePrairieCompatible</string>
    <key>resilientInterpreter</key>
    <string>HumbleAddHistoryHelper</string>
    <key>endAdapterWildCascade</key>
    <string>SwiftRemoveMagicValidator</string>
</dict>
</plist>
