<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
    <key>dispatcherTrack</key>
    <string>NeatBeginSelfFactory</string>
    <key>facadeSoft</key>
    <string>PositiveCheckBeginCompatible</string>
    <key>binaryTrainChief</key>
    <string>UpdateRunReliableTool</string>
    <key>trackDeserializerAdvanced</key>
    <string>SortPeakRationalInterpreter</string>
    <key>facadeSand</key>
    <string>WoodVirtuousBindCollection</string>
    <key>holisticCoordinator</key>
    <string>WorkResumeSacredState</string>
</dict>
</plist>
