<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
    <key>prairieModuleCheck</key>
    <string>LeanFillTrustBuilder</string>
    <key>hillCoordinator</key>
    <string>FixRobustDistinctSerializer</string>
    <key>exactGiftedSerializerFormat</key>
    <string>PassageClassicSyncTransformable</string>
    <key>releaseTargetPlayful</key>
    <string>MightyAttachTactfulHandler</string>
</dict>
</plist>
