<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
    <key>readTargetMightNative</key>
    <string>BuildMajorPoplarAdapter</string>
    <key>truthPackVital</key>
    <string>DrawVictoriousHillSaver</string>
    <key>thicketContainer</key>
    <string>NorthDurableWriteCreator</string>
    <key>agentHard</key>
    <string>LandVictoriousPaintEngine</string>
    <key>performFriendly</key>
    <string>HumbleDownMagicHelper</string>
    <key>stateUnderWide</key>
    <string>ReturnPeacefulWallStack</string>
    <key>outsideRationalBasePlugin</key>
    <string>SnowConvertSereneAgent</string>
    <key>selectKind</key>
    <string>RationalWordReleaseProxy</string>
    <key>waryScope</key>
    <string>RowFreshStartGroup</string>
</dict>
</plist>
