<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
    <key>gladDeserializerReplaceClear</key>
    <string>LucidDropHandleCommand</string>
    <key>adaptiveValidator</key>
    <string>CarefulReservoirWaitAgent</string>
    <key>restoreLoaderDual</key>
    <string>UnusualFlameInVisitor</string>
    <key>untilStationHardy</key>
    <string>ForcefulPackPeakSerializer</string>
</dict>
</plist>
