<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
    <key>classFirmMultiply</key>
    <string>GiftedFlatForTool</string>
    <key>agentSortFirmSteel</key>
    <string>BuildUrchinThoroughSaver</string>
    <key>cairnBuilder</key>
    <string>BeyondCrystalObviousObserver</string>
    <key>neatSaverStair</key>
    <string>CliffAmberCancelThen</string>
    <key>realGladModel</key>
    <string>ThroughRapidsUpwardType</string>
    <key>tryVerseInstancePeaceful</key>
    <string>BeginVigorousStretchTool</string>
    <key>ampleCoordinatorWildMake</key>
    <string>MeasuredPowerTryValidator</string>
</dict>
</plist>
