<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
    <key>modelRestoreFile</key>
    <string>RusticRestoreWindProvider</string>
    <key>reportLoaderRefreshLean</key>
    <string>ShellWirelessAddView</string>
    <key>rationalFormatterOff</key>
    <string>MeasuredFinishFairyType</string>
    <key>factoryDirect</key>
    <string>OrnateMarkCanyonManager</string>
    <key>formatterFixZestfulDainty</key>
    <string>EstuaryLawfulOffSaver</string>
    <key>defineSwiftMobileApply</key>
    <string>WithinHolisticStrongSaver</string>
    <key>uponCompatibleNatureNotable</key>
    <string>CompositeWavePerformAgent</string>
    <key>controllerHill</key>
    <string>NearStopRuggedCompatible</string>
</dict>
</plist>
