<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
    <key>digitalAcceptMediaObserver</key>
    <string>QueryReplaceKnownHeader</string>
    <key>rangeRareDownSerializer</key>
    <string>PreciousHeathMultiplyPool</string>
    <key>untilPassiveCalmFilter</key>
    <string>FinishGreatFairyTarget</string>
    <key>mediatorFineOver</key>
    <string>MoveSensorOakenExtension</string>
    <key>holdAustere</key>
    <string>EventFetchIvoryCreator</string>
    <key>searchMightMediator</key>
    <string>GiftedFillMistType</string>
</dict>
</plist>
