<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
    <key>agileAmidProtocolWay</key>
    <string>BoldOverExecuteTarget</string>
    <key>plushEnumVenturePack</key>
    <string>AroundGraveJadeCommand</string>
    <key>realCacheThroughoutVenture</key>
    <string>DaintyProcessControlObserver</string>
    <key>enumMajorWait</key>
    <string>PrairieSmoothAlongsideFormatter</string>
    <key>streamAgainstThen</key>
    <string>StrongBalancedRemoveDefine</string>
    <key>inModulePlayfulTrim</key>
    <string>MoorOverCompareList</string>
    <key>basicProperAboveGroup</key>
    <string>LucidImportLotusTransformable</string>
    <key>processRefinedForward</key>
    <string>WhisperTrustedBetweenType</string>
</dict>
</plist>
