<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
    <key>tryCrispControllerVolume</key>
    <string>PrintInfiniteStoneDefine</string>
    <key>checkFreshContainer</key>
    <string>RusticDetectDebugProtocol</string>
    <key>strategyHarbor</key>
    <string>TactfulOntoOriginClass</string>
</dict>
</plist>
