<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
    <key>dispatcherOrderSilentRound</key>
    <string>CloudNobleMultiplyInterpreter</string>
    <key>faithfulAttachCollection</key>
    <string>LaunchTaskNeutralAdapter</string>
</dict>
</plist>
