<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
    <key>tryNaturalDelegateIntimate</key>
    <string>MapMusePassiveBase</string>
    <key>helperAdapterUltimate</key>
    <string>SetResourceKnownBuilder</string>
    <key>ampleFirthProtocolDetect</key>
    <string>ModifyBraveFrameSaver</string>
    <key>directShowBroker</key>
    <string>MatureLaunchFieldTransformable</string>
    <key>factoryDirectOntoSegment</key>
    <string>CalculateUltimateTerrainType</string>
    <key>wideMakeAdapter</key>
    <string>ReplacePristineRequestBase</string>
    <key>referenceDatabaseNearTransform</key>
    <string>RowStoreCreativeDelegate</string>
    <key>regionPushForceful</key>
    <string>CodecUniqueSendDecorator</string>
</dict>
</plist>
