<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
    <key>modelTagTinyOpen</key>
    <string>MarshByDramaticExtension</string>
    <key>columnAlongsideEarnest</key>
    <string>ModernSymbolStopStack</string>
    <key>nativeAgent</key>
    <string>AccurateLayoutThroughoutProtocol</string>
    <key>viewGiganticHazeFix</key>
    <string>FetchFreeDaintyView</string>
    <key>neutralController</key>
    <string>CarefulAcceptWordView</string>
    <key>dispatcherCycleStable</key>
    <string>ObviousMacroInitializeOwner</string>
    <key>containerKnownStoreController</key>
    <string>ThoroughLibraryReceiveModel</string>
    <key>fileCreateList</key>
    <string>JoyfulBehindMarshModule</string>
    <key>detectChainClass</key>
    <string>TableBoldSelectOwner</string>
</dict>
</plist>
