<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
    <key>remoteReset</key>
    <string>HandsomeMultiplyMarkerBuilder</string>
    <key>paradiseAlongsideBrokerDivine</key>
    <string>ZippyReceiveFirmExtension</string>
    <key>paintJewelGoodProvider</key>
    <string>TameFixDriverController</string>
    <key>headerProud</key>
    <string>NativePluginOffExtension</string>
    <key>modestSearchGlacierController</key>
    <string>DuringBriefGentleMediator</string>
    <key>thoroughFirth</key>
    <string>StageLogWirelessProxy</string>
    <key>transformableLeanScroll</key>
    <string>ValleyDropValidValidator</string>
    <key>cycleUp</key>
    <string>GraveKineticPackDeserializer</string>
</dict>
</plist>
