<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
    <key>interpreterRusticEndless</key>
    <string>LimitExtraThroughoutModel</string>
    <key>startGlobal</key>
    <string>ReturnHubHumbleEngine</string>
    <key>handlerModify</key>
    <string>PowerObviousLockModel</string>
    <key>atJubilant</key>
    <string>OasisThroughoutMobileDataSource</string>
    <key>vigorousGateway</key>
    <string>TinyHolisticUponFormatter</string>
    <key>modifyTheoryZippyDecorator</key>
    <string>HoldPromptMagicalCollection</string>
</dict>
</plist>
