<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
    <key>ownerWhole</key>
    <string>TinyFormatSelectThen</string>
    <key>observerJourneySharpClean</key>
    <string>OrchardReceiveResilientAdapter</string>
    <key>extensionPackAccurate</key>
    <string>SubtleAmongContextModel</string>
    <key>acceptDecentPoolWealth</key>
    <string>LanguageHeroicSetBase</string>
    <key>endHoneyReferenceSharp</key>
    <string>DistinctNascentDecodeAdapter</string>
    <key>providerPolicy</key>
    <string>ProcessTrustedWordCache</string>
    <key>goodOfHelperLuminous</key>
    <string>IvoryJasperTestProtocol</string>
</dict>
</plist>
