<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
    <key>validatorPositive</key>
    <string>BeginAbleLedgeValidator</string>
    <key>wholeTag</key>
    <string>ForceAmberPastDispatcher</string>
    <key>adapterObviousKeyDeliver</key>
    <string>PluginMainAmongView</string>
    <key>untilToolSmart</key>
    <string>GrandMomentPauseReference</string>
</dict>
</plist>
