<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
    <key>willowOverVisitor</key>
    <string>SpaceSharpCacheOwner</string>
    <key>loaderGet</key>
    <string>AdvancedResumeStringCollection</string>
    <key>systematicCompareVisitor</key>
    <string>DownOrnateMemoryBase</string>
    <key>daintyFormatter</key>
    <string>OfGatePetiteThen</string>
    <key>offUpwardDefineVast</key>
    <string>SecureHandsomeGetPool</string>
</dict>
</plist>
