<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
    <key>consoleImplement</key>
    <string>ByNascentRemoteHeader</string>
    <key>preciousMain</key>
    <string>FixLoyalTenseManager</string>
    <key>warmEndAdapterCache</key>
    <string>RemoveSpiritHandyEngine</string>
    <key>setPlayful</key>
    <string>SaveLayerBroadCollection</string>
</dict>
</plist>
