<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
    <key>creativeProcessProxy</key>
    <string>SplitCivicHelixHandler</string>
    <key>minimalAgent</key>
    <string>NearElmPleasantTool</string>
    <key>graveWander</key>
    <string>AgainstJustWindowCollection</string>
    <key>displayTrimExpert</key>
    <string>SuperOutsideStringModel</string>
    <key>alongsideTowerFormatterOriginal</key>
    <string>OpenBriefFastDelegate</string>
    <key>mapElegant</key>
    <string>ViableBirchRoundBase</string>
    <key>cancelAgentMindful</key>
    <string>EnableScanGentleTarget</string>
    <key>typeBesideCalmSource</key>
    <string>PassageRoundCelestialFilter</string>
    <key>blockGroupAccept</key>
    <string>CreativeAfterAssetEngine</string>
    <key>fillHeroicLucidGroup</key>
    <string>GentleDirectPaintDelegate</string>
</dict>
</plist>
