<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
    <key>imageCoordinatorWise</key>
    <string>SoftTrustedResumeDispatcher</string>
    <key>mutualNearSpice</key>
    <string>AmpleBehindExactFacade</string>
    <key>forestSubmitDryClass</key>
    <string>EliteTrackUpFilter</string>
    <key>strongPleasantMediatorAbove</key>
    <string>KindSequenceDrawStrategy</string>
    <key>openProviderAcuteCreek</key>
    <string>RegisterFriendlyStringView</string>
    <key>acceptRainGigantic</key>
    <string>DevicePausePassiveHandler</string>
</dict>
</plist>
