<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
    <key>proxyJungleBefore</key>
    <string>HostFriendlySetInstance</string>
    <key>logTreasureNative</key>
    <string>MeritBelowUnityInterpreter</string>
    <key>solidUp</key>
    <string>ClearRealDaintyModel</string>
    <key>selectResourceInterpreter</key>
    <string>HonestSummitAnalyzeFactory</string>
    <key>trainFreeDurable</key>
    <string>MildProxyMarkAdapter</string>
</dict>
</plist>
