<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
    <key>channelHoly</key>
    <string>DropHarmonyBriefController</string>
    <key>luminousGenerate</key>
    <string>ClassicBackupStoreVisitor</string>
    <key>paintBright</key>
    <string>HandyStopZoneExtension</string>
    <key>engineNascent</key>
    <string>StatusPaintSafeDelegate</string>
    <key>teamHide</key>
    <string>LooseCalculateDebugCommand</string>
    <key>performStretch</key>
    <string>PrintMutualRuggedOwner</string>
</dict>
</plist>
