<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
    <key>extensionInsightOpenSecure</key>
    <string>ExtensionOffPleasantHandler</string>
    <key>dataSourceGetDiscreteExport</key>
    <string>MultiplyBoardQuickClass</string>
    <key>absolutePrintFormatterCommand</key>
    <string>IsletSortRadiantInterpreter</string>
    <key>validateExquisiteBasePine</key>
    <string>DelicateSearchBundleDeserializer</string>
</dict>
</plist>
