<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
    <key>registryThroughout</key>
    <string>ZealousByStandBroker</string>
    <key>toolGlad</key>
    <string>DebugZealousGlobalDataSource</string>
    <key>showMobileTool</key>
    <string>MessageResumeUnityState</string>
    <key>toolHastyDecodeTunnel</key>
    <string>RunSweetPeakDecorator</string>
    <key>groupCentralDeliverThen</key>
    <string>RoundMerryBasinPool</string>
</dict>
</plist>
