<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
    <key>secureProtocolSolid</key>
    <string>ModalOutputBetweenBuilder</string>
    <key>invitingViewOcean</key>
    <string>MapRunSternObserver</string>
    <key>clearRegister</key>
    <string>VividDrawRoyalProvider</string>
    <key>trailGrowingPush</key>
    <string>ReplacePrimeFormatFactory</string>
    <key>managerKnackUpward</key>
    <string>WaitWealthWittyDeserializer</string>
    <key>afterDecoratorNearShow</key>
    <string>CivicDownHeightSerializer</string>
    <key>decoratorTransform</key>
    <string>BeyondVitalUpgradeStack</string>
</dict>
</plist>
