<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
    <key>moduleLawfulChain</key>
    <string>DeltaFreeUpDispatcher</string>
    <key>protocolHandleStrike</key>
    <string>CacheFitNectarProtocol</string>
    <key>oddVentureReset</key>
    <string>SacredOutputRemoveBase</string>
    <key>binarySaver</key>
    <string>ConnectGrowingCliffDecorator</string>
</dict>
</plist>
