<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
    <key>ringContainer</key>
    <string>SubmitMerryTrailSaver</string>
    <key>sendRoyal</key>
    <string>KnollAgainstFondList</string>
    <key>decoratorDecodeStem</key>
    <string>MistSolidInTarget</string>
    <key>agentCollectionGenerateHonest</key>
    <string>AcceptTranquilRelayCache</string>
    <key>readPleasant</key>
    <string>ResumeDialogClearHelper</string>
    <key>factoryHistoryEasyEnable</key>
    <string>PlayMemoryPetiteState</string>
    <key>delegateIdealDebug</key>
    <string>FetchEarthTrustedCompatible</string>
    <key>onValidatorGlobeInfinite</key>
    <string>YearGenerousThroughoutSerializer</string>
    <key>pearlFacadeHumaneReceive</key>
    <string>AtFirthClassicCache</string>
</dict>
</plist>
