<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
    <key>showReturn</key>
    <string>ImmenseStripeRunLoader</string>
    <key>proxyAmongGenerous</key>
    <string>FillSweetHardList</string>
    <key>celestialCoordinatorSaveList</key>
    <string>DropGrandAngleTool</string>
    <key>equalProxyRegister</key>
    <string>LightWinsomeFindArray</string>
    <key>baseThemeFluent</key>
    <string>ProcessDeliverUniversalEnum</string>
    <key>memoryCreatorTowardCivic</key>
    <string>StableLogNovelThen</string>
</dict>
</plist>
