<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
    <key>skillBrokerAccelerateElite</key>
    <string>TransformSkyModestPool</string>
    <key>engineNear</key>
    <string>InResourceFondPool</string>
    <key>virtuousTransform</key>
    <string>LogPoplarDaintyCommand</string>
    <key>shellConvertTall</key>
    <string>FaithfulChiefOutsideAgent</string>
    <key>stackAdaptiveOwner</key>
    <string>MatchReliefDramaticContainer</string>
    <key>beforeRusticProvision</key>
    <string>SegmentUnderOriginalList</string>
    <key>acrossSacred</key>
    <string>OasisDuringBrightInstance</string>
    <key>engineImmenseDelete</key>
    <string>TrackInformationThickFormatter</string>
    <key>compatibleEminentOfTruth</key>
    <string>AcrossAstuteWebMediator</string>
    <key>digitalCrown</key>
    <string>ThickDebugPrairieStack</string>
</dict>
</plist>
