<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
    <key>luckyStreamModuleFinish</key>
    <string>PackageCloseSwiftModel</string>
    <key>ofUrbanThen</key>
    <string>ReplaceViewBraveProtocol</string>
    <key>retreatEngineRefresh</key>
    <string>TreatProperGenerateHandler</string>
    <key>initializeLastingTool</key>
    <string>FineByTideFormatter</string>
</dict>
</plist>
