<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
    <key>engineUntilPassageTactful</key>
    <string>PrairieTrueCloseOwner</string>
    <key>blitheShow</key>
    <string>SharpWalkMergeAgent</string>
    <key>submitPoolCycleReady</key>
    <string>RegionHandleNobleTransformable</string>
    <key>magicFilterRegisterPrimal</key>
    <string>MerryForHardStack</string>
    <key>templeWatch</key>
    <string>MatrixNativeInsideThen</string>
    <key>luckyLogDashboardCompatible</key>
    <string>ForDesertThickGroup</string>
    <key>strategyInviting</key>
    <string>DisplayAccurateDeviceClass</string>
    <key>warmBind</key>
    <string>FileLiberalAmongDelegate</string>
    <key>valuableClassOnMatrix</key>
    <string>LucidHostDebugEnum</string>
    <key>typeMarker</key>
    <string>RationalModuleDebugInstance</string>
</dict>
</plist>
