<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
    <key>duskNearContainer</key>
    <string>FormatLooseTribeHelper</string>
    <key>modelGenuinePool</key>
    <string>LastingDrawPeakCommand</string>
    <key>referenceApply</key>
    <string>SceneBroadSetExtension</string>
    <key>refreshInstanceNaturalWalk</key>
    <string>AcrossSpokeAgileReference</string>
    <key>orderPastAcute</key>
    <string>ExquisiteCoralAppendTool</string>
    <key>sleekModule</key>
    <string>AdaptiveLaneTowardHelper</string>
    <key>toolQuillEncodePleasant</key>
    <string>StartWaveDenseList</string>
</dict>
</plist>
