<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
    <key>modifyClassWayRational</key>
    <string>AroundAbundantBlockStrategy</string>
    <key>filterType</key>
    <string>DuskEtherealMergeThen</string>
    <key>showOwnerNear</key>
    <string>OddAudioDebugAdapter</string>
    <key>getCoordinatorDramatic</key>
    <string>TestQuillLawfulDataSource</string>
    <key>dataSourceDeep</key>
    <string>AppendKindredMoorModule</string>
    <key>showLayerGraceful</key>
    <string>FetchSternObjectDecorator</string>
    <key>calculateDirectObserver</key>
    <string>SetTrackWiseDispatcher</string>
    <key>enumLuminousEndSlip</key>
    <string>PleasedPathUntilController</string>
    <key>fairBaseLoad</key>
    <string>OverEliteDrawHelper</string>
</dict>
</plist>
