<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
    <key>vectorSave</key>
    <string>DebugCanyonKineticOwner</string>
    <key>stateTrueDeserializerTo</key>
    <string>CompareNeatUnitModule</string>
    <key>handleFallsHelper</key>
    <string>BambooNeutralAnalyzeDispatcher</string>
    <key>extensionViewPack</key>
    <string>WellQuintessentialVerifyAgent</string>
    <key>beyondList</key>
    <string>CheckForFirmDataSource</string>
    <key>chartMajorPlayProtocol</key>
    <string>ScopeMatchFairEngine</string>
</dict>
</plist>
