<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
    <key>yieldLeanCompatible</key>
    <string>AboveGateUnusualStack</string>
    <key>quirkPlayWealthy</key>
    <string>UpwardMatchScrollSerializer</string>
    <key>hardyInsideTimer</key>
    <string>UntilDeepRareArray</string>
    <key>greatParseBrook</key>
    <string>GentleAgileInGroup</string>
    <key>walkWatchFineAgent</key>
    <string>WellPlayfulNearDelegate</string>
    <key>energeticRestoreNookContainer</key>
    <string>VentureVerifySafeTool</string>
    <key>turnNaturalBuilder</key>
    <string>BrowserDurableDisplayArray</string>
</dict>
</plist>
