<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
    <key>insideZealous</key>
    <string>VastNearComplexImplement</string>
    <key>containerRemoteOpenQuintessential</key>
    <string>PastPristineCacheInterpreter</string>
    <key>keeperTry</key>
    <string>MethodLargePrintAdapter</string>
    <key>solidPowerLoader</key>
    <string>SkilledGridBehindArray</string>
</dict>
</plist>
