<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
    <key>testType</key>
    <string>WittyGenericStoreGroup</string>
    <key>bareDebugRuggedDefine</key>
    <string>FairHillDebugBase</string>
    <key>coordinatorGenerous</key>
    <string>MapReadGreatSaver</string>
    <key>cancelGuideSplendidProvider</key>
    <string>GlobeInfiniteWithDeserializer</string>
    <key>landEngine</key>
    <string>AuthenticMacroIntoDispatcher</string>
    <key>sunResume</key>
    <string>FinishToolSharpFacade</string>
    <key>carefulAtProvider</key>
    <string>KineticStyleShowStrategy</string>
    <key>interpreterSparkAcross</key>
    <string>SlipPlushBesideInstance</string>
</dict>
</plist>
