<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
    <key>alongKineticStyleHelper</key>
    <string>RemoteLitheDrawPool</string>
    <key>advancedPastBaseWillow</key>
    <string>FreeWriteYardCache</string>
    <key>readyDispatcherAlert</key>
    <string>FlowFocusedSearchCoordinator</string>
    <key>wordVisitorTender</key>
    <string>AttachMethodEminentReference</string>
</dict>
</plist>
