<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
    <key>throughCompatible</key>
    <string>CompactFinishIslandCreator</string>
    <key>providerMakeSafePure</key>
    <string>AnalyzeCrispPortraitInterpreter</string>
    <key>providerMapLanguageKindred</key>
    <string>InsideWaterZestfulModule</string>
    <key>ownerMatch</key>
    <string>GraveLinkCheckExtension</string>
    <key>verifyStateResilientMighty</key>
    <string>DecodeBonnyValuableCollection</string>
    <key>interpreterAmong</key>
    <string>DecodeNearWishFilter</string>
    <key>blockFacadeNear</key>
    <string>CrossBetweenLooseTarget</string>
    <key>observerHumbleFormat</key>
    <string>InsideSteamSkilledType</string>
    <key>webUnder</key>
    <string>UntilSunIdleInterpreter</string>
</dict>
</plist>
