<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
    <key>amongModuleSolid</key>
    <string>TribeBeyondDirectValidator</string>
    <key>tryCommandTrusty</key>
    <string>InsertWebGreatCoordinator</string>
    <key>creativeDynamicHelperExecute</key>
    <string>TinySelectThicketFilter</string>
    <key>liberalSubmitFlashContainer</key>
    <string>DeliverMildPortalExtension</string>
    <key>delegateStrengthInsert</key>
    <string>PlainInitializeBackupBroker</string>
    <key>leanFormatterStory</key>
    <string>FreeMapPaintHandler</string>
    <key>judiciousKeen</key>
    <string>RunPrivateCrossGroup</string>
    <key>loaderAmidUpdate</key>
    <string>SendRegisterAdvancedAgent</string>
</dict>
</plist>
