<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
    <key>providerStory</key>
    <string>SubmitSimpleSunnyExtension</string>
    <key>startStandProtocol</key>
    <string>UnusualSpaceIntoState</string>
    <key>acceptMagnetExpert</key>
    <string>CanvasNovelPackDefine</string>
    <key>returnMutual</key>
    <string>FaithfulWatchVocalFacade</string>
    <key>loadDaintyGroup</key>
    <string>MarkWorldRoyalAdapter</string>
    <key>natureClose</key>
    <string>SendCalmFontInstance</string>
    <key>decisiveAmong</key>
    <string>FontSereneSortDelegate</string>
    <key>factoryMatureEncode</key>
    <string>StayPlayfulReplaceCoordinator</string>
    <key>intuitiveStore</key>
    <string>FixSoundRainCommand</string>
    <key>facadeWanderAlongWilling</key>
    <string>UpwardGraciousEndExtension</string>
</dict>
</plist>
