<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
    <key>openSpaceMutualGroup</key>
    <string>AnalyzeUniversalExpertLoader</string>
    <key>merrySymbol</key>
    <string>UtmostConnectSpriteBase</string>
    <key>pushReflectEngine</key>
    <string>SupremeDisplayOntoDefine</string>
    <key>joyfulStackReturnAgent</key>
    <string>WallUpwardHoldState</string>
    <key>listJust</key>
    <string>UtilitySearchWildManager</string>
    <key>adeptProviderSymbol</key>
    <string>ModestSpaceAnalyzeDelegate</string>
</dict>
</plist>
