<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
    <key>handlerCleanClearInsight</key>
    <string>InfinitySmartBindFilter</string>
    <key>wideFilterSaverUpdate</key>
    <string>WriteHarmonicContentTool</string>
    <key>merryTerrain</key>
    <string>InitializeCleverCleanExtension</string>
    <key>desertTestVisitor</key>
    <string>TrueSpringFindFacade</string>
    <key>compatibleCacheBeneathReady</key>
    <string>HandsomeAboveSlidePool</string>
    <key>tableWildInstance</key>
    <string>FlukeLogicalBelowProxy</string>
    <key>classViewGigantic</key>
    <string>TrustyTwistAppendBroker</string>
</dict>
</plist>
