<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
    <key>mediatorFit</key>
    <string>HandleKeenFieldEnum</string>
    <key>saverFrost</key>
    <string>AbsoluteSkillDrawAdapter</string>
    <key>twistOwnerRadiant</key>
    <string>SearchFirmEqualDataSource</string>
    <key>attachPrimal</key>
    <string>PanelTimelyLockClass</string>
    <key>serializerPathLaunch</key>
    <string>PetalOutsideLocalDelegate</string>
    <key>wildModelDark</key>
    <string>TransformPureSunnyPool</string>
    <key>mobileModelRobustAssign</key>
    <string>GentleDetectJadeHeader</string>
</dict>
</plist>
