<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
    <key>peacefulAdapterAsset</key>
    <string>RetreatAustereReleaseState</string>
    <key>localSaverFormat</key>
    <string>SolidCheckPanelType</string>
    <key>readTorch</key>
    <string>BoardSelectPositiveVisitor</string>
    <key>viableRoyal</key>
    <string>DebugLogicalKnackController</string>
    <key>wiseCollectionClientFor</key>
    <string>ReceiveNativeForwardClass</string>
    <key>surfIdlePlayDecorator</key>
    <string>CenterWarmShowHeader</string>
    <key>centralValidatorVia</key>
    <string>CanyonClassicHandleDelegate</string>
</dict>
</plist>
