<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
    <key>idleLegacyDataSourceLoad</key>
    <string>ProvisionLucentSendModule</string>
    <key>plazaGreenMediatorParse</key>
    <string>DefinedConnectTargetOwner</string>
    <key>goodArrayPerformStory</key>
    <string>TerseZenithParseTarget</string>
    <key>validateStrongFontCollection</key>
    <string>TypeUnderCoolCollection</string>
    <key>coordinatorUniqueDrop</key>
    <string>BoundNovelEncodeVisitor</string>
    <key>splashGreatArrayRead</key>
    <string>PaintDataSwiftManager</string>
</dict>
</plist>
