<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
    <key>mixerSyncEqualStrategy</key>
    <string>LockSoundPlayfulBuilder</string>
    <key>enableYew</key>
    <string>LiberalWithinBraveInterpreter</string>
    <key>briskRoundTactfulGroup</key>
    <string>BreakGoodModifyDeserializer</string>
    <key>novelMake</key>
    <string>InEliteThornSerializer</string>
</dict>
</plist>
