<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
    <key>dataSourceRegisterConvert</key>
    <string>HostRunStableCache</string>
    <key>providerCalm</key>
    <string>ImportPristineDecodeProvider</string>
    <key>contentViewFond</key>
    <string>ReadyStoreFaintMediator</string>
    <key>platformBuilder</key>
    <string>GardenUtmostUpValidator</string>
</dict>
</plist>
