<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
    <key>visitorCrisp</key>
    <string>TriumphProcessPassiveEngine</string>
    <key>fancyRowProxy</key>
    <string>BetweenOuterJadeMediator</string>
    <key>meritDisplay</key>
    <string>MagicRareLaunchHandler</string>
    <key>filterConfigCalm</key>
    <string>WriteUpgradeWholeCache</string>
    <key>tryShellHarmless</key>
    <string>BrilliantInsideMemoryContainer</string>
</dict>
</plist>
