<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
    <key>showAdept</key>
    <string>PreciousScanAmidManager</string>
    <key>speakDefineLuminousStore</key>
    <string>MethodReadImprovedHeader</string>
    <key>zealousHandler</key>
    <string>AtHarmlessLoaderFactory</string>
    <key>folderDispatcher</key>
    <string>DarkPhoenixDuringList</string>
    <key>havenVast</key>
    <string>YewFeasibleBelowTool</string>
    <key>nodeModifyAgent</key>
    <string>AlongsideGlobeDecentCollection</string>
    <key>delegateListenerEndWide</key>
    <string>UpwardSpokeUpFactory</string>
</dict>
</plist>
