<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
    <key>warmImportConnectImplement</key>
    <string>ReservoirFreshLoadDecorator</string>
    <key>browserThickAt</key>
    <string>ZephyrCleanVividExtension</string>
    <key>qualityAbove</key>
    <string>PetiteMatchLeafBuilder</string>
    <key>dynamicCrisp</key>
    <string>RestoreDirectLimitCollection</string>
    <key>sharpOwner</key>
    <string>MergeStablePhoenixDelegate</string>
    <key>managerBroadDialogImport</key>
    <string>MoveLakeTallExtension</string>
    <key>flukeMapBroadDelegate</key>
    <string>KiteAmberMarkSaver</string>
</dict>
</plist>
