<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
    <key>formatPassive</key>
    <string>CancelLastingVentureList</string>
    <key>rootTrainDecorator</key>
    <string>EqualCompareAbleDelegate</string>
    <key>pristineScene</key>
    <string>NearWordReleaseDelegate</string>
    <key>removeCivicNectar</key>
    <string>JungleOfHealthyView</string>
    <key>promptInstance</key>
    <string>SearchNobleDiamondDeserializer</string>
    <key>drawEnergeticInstance</key>
    <string>SoftExpertOffType</string>
    <key>loaderConnectEqual</key>
    <string>ChartWarmDeliverOwner</string>
    <key>easyProvider</key>
    <string>LitheConnectRockTransformable</string>
    <key>pureTheme</key>
    <string>AttachSecureTerseEnum</string>
</dict>
</plist>
