<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
    <key>contextOutside</key>
    <string>ByRegionAdvancedEnum</string>
    <key>controllerNetwork</key>
    <string>MoveTriggerSecureAgent</string>
    <key>windowBuildFacade</key>
    <string>NearHumbleFitPool</string>
    <key>headerValleyWarm</key>
    <string>AfterFriendlyQueryContainer</string>
    <key>gentlePrintRegisterClass</key>
    <string>TuneSecureDisplayCommand</string>
</dict>
</plist>
