<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
    <key>moduleForce</key>
    <string>LayerRefinedInsertOwner</string>
    <key>smartBaseWinterMultiply</key>
    <string>BeaconDryAgainstProxy</string>
    <key>towardJasper</key>
    <string>ApplyBambooModernPool</string>
    <key>belowRadiantProtocol</key>
    <string>GoodLockWittyBuilder</string>
    <key>matrixUnity</key>
    <string>DialogJudiciousWithinAgent</string>
    <key>styleTestWaryTransformable</key>
    <string>DramaticShapeOffHandler</string>
    <key>calmRegisterDispatcherMode</key>
    <string>CreativeExtractAgentFacade</string>
    <key>trustedFormatter</key>
    <string>LightTerrainTrainCoordinator</string>
    <key>betweenUrchinAustereClass</key>
    <string>BeyondCascadeClearValidator</string>
</dict>
</plist>
