<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
    <key>throughoutLock</key>
    <string>QuietSimpleWithinDecorator</string>
    <key>mapHarmless</key>
    <string>RegistryIntenseFetchCollection</string>
    <key>alongTaskDecoratorRare</key>
    <string>ProfileTowardSimpleContainer</string>
    <key>zippyTimeBefore</key>
    <string>VolumeCacheHandyState</string>
    <key>intuitiveSubmitDataSource</key>
    <string>CanyonGentleRegisterHandler</string>
    <key>splitNookExtraAgent</key>
    <string>ForwardFinishIntenseProtocol</string>
    <key>magicHandlerJudicious</key>
    <string>UpdateEqualMoorCompatible</string>
    <key>agentRusticReceiveAgile</key>
    <string>MatureForestMergeSerializer</string>
    <key>youngPlace</key>
    <string>MagicConnectRoyalProvider</string>
    <key>toolRidgeResetInfinite</key>
    <string>SafeThicketHideDefine</string>
</dict>
</plist>
