<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
    <key>briefProvider</key>
    <string>AcceptMajorZoneEngine</string>
    <key>valuableAroundArrayFolder</key>
    <string>UnderPortTrustyTransformable</string>
    <key>jadeOptimal</key>
    <string>WittyDetectPoolTool</string>
    <key>finishUniversal</key>
    <string>ContinueCompactWaveInterpreter</string>
</dict>
</plist>
