<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
    <key>brokerUrbanDebug</key>
    <string>UnusualSendVerseAgent</string>
    <key>showFilterLucentFlow</key>
    <string>ReturnDecoderExpertArray</string>
    <key>jovialDataSourceKeyFix</key>
    <string>PlazaPastProperOwner</string>
    <key>giftedSearchKnack</key>
    <string>DownFontOakenMediator</string>
    <key>reflectSerializer</key>
    <string>DenseBehindAssetType</string>
    <key>forPeacefulGroupScale</key>
    <string>RoyalMergeSurgeSaver</string>
</dict>
</plist>
