<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
    <key>hardyAlongsidePromptExtension</key>
    <string>HandsomeOnTreeEnum</string>
    <key>encodeAdapter</key>
    <string>VibrantHavenOverFilter</string>
    <key>compositeAlongLoader</key>
    <string>TimerSuperCalculateValidator</string>
</dict>
</plist>
