<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
    <key>lightDirectPastExtension</key>
    <string>PetiteDisplayRoyalDataSource</string>
    <key>vectorSortBoldThen</key>
    <string>CancelFreshHonestTransformable</string>
    <key>visitorConvertKind</key>
    <string>RavenPrimalSetDefine</string>
    <key>passiveCloseStackTransformable</key>
    <string>DualLanguagePushState</string>
    <key>harmonicClassSense</key>
    <string>ReleaseKnownLegacyMediator</string>
    <key>importToolExactDense</key>
    <string>KineticSlidePlayProvider</string>
    <key>linePristineWrite</key>
    <string>BetweenClassicCanyonBroker</string>
</dict>
</plist>
