<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
    <key>smartOnto</key>
    <string>BuildMerrySphereObserver</string>
    <key>rareExtensionNearPolicy</key>
    <string>UnderMobileVoyageThen</string>
    <key>watchNetworkDenseExtension</key>
    <string>OverJustRefreshManager</string>
    <key>performZenithRiverFilter</key>
    <string>PaintJadeFirmController</string>
    <key>errorSaverDetectTactful</key>
    <string>IntuitiveConnectBriskCommand</string>
    <key>contentVerifySubtleStack</key>
    <string>CodecAddDigitalEnum</string>
    <key>creatorInitializeTextZenith</key>
    <string>TribeBareAcrossHelper</string>
    <key>deliverTrain</key>
    <string>GladeGenuineFillBuilder</string>
    <key>legacyStrategyDark</key>
    <string>EndWinsomeFreeInterpreter</string>
    <key>quietGroupToRealm</key>
    <string>LargeLockBindCollection</string>
</dict>
</plist>
