<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
    <key>messageSortSoft</key>
    <string>FirmDecisiveMultiplyStrategy</string>
    <key>stateFrom</key>
    <string>FirmOpenComplexHeader</string>
    <key>dashboardImport</key>
    <string>WorldTransformDelicateOwner</string>
    <key>groupStoreHealthyContext</key>
    <string>DetectCoolKeeperController</string>
</dict>
</plist>
