<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
    <key>refinedImage</key>
    <string>SelectHolyDecodeView</string>
    <key>cacheElementFilter</key>
    <string>SolarDecentExtractFactory</string>
    <key>loaderKeenPaintWorld</key>
    <string>RunModernPlainContainer</string>
</dict>
</plist>
