<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
    <key>denseCommand</key>
    <string>WithStarInitialInstance</string>
    <key>closeSpot</key>
    <string>MinimalDurableDeliverArray</string>
    <key>alongsideSmoothScaleBroker</key>
    <string>MelodySafeLaunchTransformable</string>
    <key>creekDetect</key>
    <string>SortUtmostHarmonySerializer</string>
</dict>
</plist>
