<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
    <key>brightLoyalInstance</key>
    <string>WinterBrilliantWriteHandler</string>
    <key>readyManagerStand</key>
    <string>CairnBehindYoungModel</string>
    <key>blitheStopList</key>
    <string>SlateBlitheAmidOwner</string>
    <key>gladTypeHandyFrom</key>
    <string>OffGraciousSlideHelper</string>
    <key>glacierRealArrayBind</key>
    <string>NectarAcuteFormatStrategy</string>
</dict>
</plist>
