<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
    <key>formatterCompositeBambooWithin</key>
    <string>GroveRichUnderCreator</string>
    <key>tameMacroTool</key>
    <string>PushSliceUrbaneVisitor</string>
    <key>wildBrokerRidgeDrop</key>
    <string>SkyVirtuousBeyondSaver</string>
    <key>domeAcrossAmberHelper</key>
    <string>EminentDebugInstanceProxy</string>
    <key>displayFitSplendidState</key>
    <string>FindFeatureExpertCreator</string>
    <key>registerSteadyHeroic</key>
    <string>OfCleverTurnHeader</string>
    <key>planetDual</key>
    <string>PlazaMergeHumaneTarget</string>
    <key>listStopRareHolistic</key>
    <string>MoveProviderRareFilter</string>
    <key>earnestWindow</key>
    <string>KindFileToModel</string>
</dict>
</plist>
