<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
    <key>boldExtractCoherentController</key>
    <string>WaitMildSwirlState</string>
    <key>submitViablePromptExtension</key>
    <string>CacheDelicateBinaryLoader</string>
    <key>dataSourceModify</key>
    <string>ExecuteRavenLocalState</string>
    <key>dispatcherAround</key>
    <string>WallWaryVerifyModule</string>
    <key>typeGrove</key>
    <string>VolumeMatchSmartCommand</string>
    <key>transformIdeal</key>
    <string>OutsideClassicSpiritLoader</string>
    <key>stateYearRecord</key>
    <string>PlushCalculateGuideHandler</string>
    <key>cacheIvoryDataSourceClean</key>
    <string>HandyHavenSendCompatible</string>
</dict>
</plist>
