<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
    <key>modalWithout</key>
    <string>FromNeatTextPool</string>
    <key>robustAgent</key>
    <string>AddSkillGiganticFacade</string>
    <key>secureTrend</key>
    <string>AssetStableOntoList</string>
    <key>baseHandyHubAcross</key>
    <string>ResourceByGrowingModel</string>
    <key>briskViaControllerHappy</key>
    <string>ConsoleDeleteCarefulFactory</string>
</dict>
</plist>
