<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
    <key>globalTurn</key>
    <string>StableChiefBelowTransformable</string>
    <key>humorModelWitty</key>
    <string>PristineHelixAccelerateAgent</string>
    <key>providerTrimThroughoutPrimal</key>
    <string>OakenThroughoutPortHeader</string>
    <key>clientReference</key>
    <string>PanelDetectGracefulCoordinator</string>
</dict>
</plist>
