<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
    <key>detectPureCommand</key>
    <string>SoftRemoveTrustyDeserializer</string>
    <key>planetHandlerStore</key>
    <string>VentureBasicOpenDelegate</string>
    <key>connectModuleOddVapor</key>
    <string>ClearMarkerGladType</string>
    <key>stopWaryDesert</key>
    <string>AgainstBrilliantJasperDelegate</string>
    <key>joyfulBrief</key>
    <string>DarkAboveHeroicDeserializer</string>
    <key>helixMajorContainer</key>
    <string>WealthAppendLooseEnum</string>
    <key>importFilterAudioSleek</key>
    <string>AlertRestoreDiscreteDataSource</string>
    <key>originalDeleteThenLimit</key>
    <string>LoyalDownHolisticCache</string>
    <key>delicateDune</key>
    <string>MagicSaveChiefModule</string>
</dict>
</plist>
