<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
    <key>yieldingMove</key>
    <string>NovelHarborCalculateController</string>
    <key>tameSetInletModel</key>
    <string>ProcessDistantCleanModel</string>
    <key>writeValley</key>
    <string>RegisterKindHavenSaver</string>
    <key>fineFromValidator</key>
    <string>AustereBambooRestoreTool</string>
    <key>monitorBrave</key>
    <string>RoyalMysticStoreArray</string>
    <key>distantOutsideEnumTone</key>
    <string>TinyLedgeFromReference</string>
    <key>strengthRestorePassive</key>
    <string>InsightEasyAlongsideInterpreter</string>
</dict>
</plist>
