<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
    <key>neutralHandlerOf</key>
    <string>AfterCentralSwirlHelper</string>
    <key>symbolPauseDeserializerTrue</key>
    <string>ExtractPureColumnMediator</string>
    <key>overSearch</key>
    <string>TinyEmberForState</string>
    <key>victoriousPool</key>
    <string>WriteProperSoftImplement</string>
    <key>mapWorldBroker</key>
    <string>BesideHandsomeGlobeHeader</string>
    <key>unitCollection</key>
    <string>HonestOwlCacheCache</string>
    <key>observerRefreshValid</key>
    <string>DecoderDetectForcefulTool</string>
    <key>relayAnalyzeLargeManager</key>
    <string>EncodeLandGenuineCompatible</string>
    <key>initialShowSlice</key>
    <string>CliffHumaneSelectEngine</string>
    <key>jovialGlobalWithBroker</key>
    <string>AboveOverDecentMediator</string>
</dict>
</plist>
