<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
    <key>hardyWarmHandlerToward</key>
    <string>CalmHarmlessUponClass</string>
    <key>ornateGroupTwist</key>
    <string>SmoothDrawWreathState</string>
    <key>typeQuirk</key>
    <string>PassageHandsomeExtractHelper</string>
    <key>abundantCache</key>
    <string>OntoFluentWarmMediator</string>
    <key>coderBonny</key>
    <string>IntoStackSteadyHeader</string>
    <key>fineProvider</key>
    <string>AfterSpotGraveDecorator</string>
</dict>
</plist>
