<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
    <key>boundCoordinatorDetect</key>
    <string>MobileMatureBeforeMediator</string>
    <key>extractHastyView</key>
    <string>WordRunWideManager</string>
    <key>quickHardyBeyondHandler</key>
    <string>LightPackRidgeType</string>
    <key>litheVisitorFindFirm</key>
    <string>NaturalDawnInsideVisitor</string>
    <key>fillContainer</key>
    <string>MistTryForcefulInstance</string>
</dict>
</plist>
