<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
    <key>zoneEasy</key>
    <string>DiscreteFloraMultiplyFactory</string>
    <key>jasperBindExtension</key>
    <string>UrchinRemoveEminentValidator</string>
    <key>urbaneLoaderMerge</key>
    <string>DebugGorgeVocalExtension</string>
    <key>adapterManifest</key>
    <string>IdealFallsFetchList</string>
    <key>deserializerRun</key>
    <string>AbyssForDurableGroup</string>
    <key>multiplyGrave</key>
    <string>BrainGetEqualDelegate</string>
    <key>searchMethod</key>
    <string>HardMatureAppendClass</string>
</dict>
</plist>
