<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
    <key>ivoryDivineContainer</key>
    <string>PristineReceiveWhiteType</string>
    <key>expertTrackDelegate</key>
    <string>ShapeMatureResumeDelegate</string>
    <key>syncRich</key>
    <string>EarthFinishBraveManager</string>
    <key>readyStrengthBuilderShow</key>
    <string>BelowFloraSwiftCollection</string>
    <key>writeTheoryGreatCache</key>
    <string>DownHastyKnackImplement</string>
    <key>tacticAddWitty</key>
    <string>PixelHardyRecordCache</string>
    <key>crestBelow</key>
    <string>FromSoundSparkEnum</string>
    <key>greenTypeVerify</key>
    <string>VisibleAbyssInsideDelegate</string>
    <key>parseCairnMinimal</key>
    <string>PlayLargePluginProxy</string>
</dict>
</plist>
