<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
    <key>listTryGenerous</key>
    <string>BeaconWithinSolidExtension</string>
    <key>worthManager</key>
    <string>ReceiveTenderMomentStrategy</string>
    <key>durableFactoryRun</key>
    <string>GladeBalancedAppendList</string>
    <key>cancelSoftClassChat</key>
    <string>HardyTransformDisplayVisitor</string>
    <key>multiplyDefineMutual</key>
    <string>NaturalOffContainerInterpreter</string>
</dict>
</plist>
