<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
    <key>releaseFilterGentleSupreme</key>
    <string>CoderSubtleBeginCompatible</string>
    <key>builderShadeLoadOuter</key>
    <string>DenseBrainTowardProxy</string>
    <key>networkManager</key>
    <string>FixPleasantMoorDefine</string>
    <key>nearDirect</key>
    <string>ReleaseReflectKindredStack</string>
    <key>windCentralPoolBy</key>
    <string>CacheHolisticKiteCache</string>
    <key>packElm</key>
    <string>CelestialRegisterUnderCommand</string>
    <key>havenHardy</key>
    <string>PluginWatchHonestStrategy</string>
    <key>cliffLucky</key>
    <string>FloraSetWittyTarget</string>
    <key>instanceDisplayMinimal</key>
    <string>BesideTowerPleasantProvider</string>
    <key>stackInDarkWell</key>
    <string>RationalStoreRelayProxy</string>
</dict>
</plist>
