<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
    <key>belowUnitHandsome</key>
    <string>RoundListThickPool</string>
    <key>viewModern</key>
    <string>VirtuousDomainOnObserver</string>
    <key>dataSourceTuneRun</key>
    <string>IdealPlaceAlongsideAgent</string>
</dict>
</plist>
