<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
    <key>pineSubtleInitialize</key>
    <string>CheckNovelInfinityDefine</string>
    <key>transformableThickFolderResume</key>
    <string>LayerHolyBehindHelper</string>
    <key>syncStrategy</key>
    <string>NotableProxyDebugDataSource</string>
    <key>universalCacheLaunch</key>
    <string>InitializeLeafIntuitiveAgent</string>
    <key>naturalChainHeader</key>
    <string>CoderUpDurableView</string>
    <key>steamFormalPack</key>
    <string>UpdateBasinFreshCompatible</string>
</dict>
</plist>
