<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
    <key>adapterGroup</key>
    <string>ChainImportBraveController</string>
    <key>healthyWithControllerData</key>
    <string>ThemeSwiftNearProxy</string>
    <key>offSupreme</key>
    <string>TransitAttachCompositeManager</string>
    <key>strategyYearBroadMake</key>
    <string>AboveBonnyPlainDeserializer</string>
    <key>pineVisitorReliable</key>
    <string>LooseLoadAlertTarget</string>
    <key>storeWaveProvider</key>
    <string>UrchinCancelModalAdapter</string>
    <key>duringDefineMarkerAbundant</key>
    <string>CoherentHandleFinishCreator</string>
    <key>controllerIntimateYardFind</key>
    <string>MagnetValidateReadyModel</string>
    <key>basicZoneLogCreator</key>
    <string>TrimExecuteWinsomeGroup</string>
    <key>modelLucid</key>
    <string>SteamFinishLogicalDecorator</string>
</dict>
</plist>
