<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
    <key>continuePacificGlade</key>
    <string>ThicketAstuteValidateProvider</string>
    <key>basicStopArray</key>
    <string>SmoothCarefulParseLoader</string>
    <key>bindBaseOuter</key>
    <string>LakeLiberalReadCommand</string>
    <key>dawnAmber</key>
    <string>AmongVocalIndexProvider</string>
    <key>syncMainClass</key>
    <string>OfSessionFondTarget</string>
    <key>collectionFont</key>
    <string>DefinedBeforeIntimateLoader</string>
</dict>
</plist>
