<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
    <key>brightUpon</key>
    <string>GlobalSearchShapeProtocol</string>
    <key>actionDecoratorParse</key>
    <string>ScanCompactSaveModel</string>
    <key>winsomeValidatorPlain</key>
    <string>BrightMainEncodeHelper</string>
    <key>handlerOnyx</key>
    <string>AgainstDiamondWorthyDefine</string>
    <key>oasisFromCareful</key>
    <string>AmpleQuillDeleteFacade</string>
    <key>agentBeyond</key>
    <string>DrawCheckExactProtocol</string>
    <key>databaseAzure</key>
    <string>EnergeticDeleteFlowType</string>
</dict>
</plist>
