<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
    <key>warmResume</key>
    <string>WideFormatUltimateFilter</string>
    <key>levelElegant</key>
    <string>AmongSunnyCycleCompatible</string>
    <key>threatList</key>
    <string>SoundViableTransformDelegate</string>
    <key>exactStateLegacy</key>
    <string>SpiceVerifyCompositeInterpreter</string>
    <key>silentPath</key>
    <string>ProtectUrbaneRegisterThen</string>
</dict>
</plist>
