<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
    <key>groupCompareThenPleasant</key>
    <string>ImportSkilledTrainType</string>
    <key>willingInTask</key>
    <string>PositionOnKnownCoordinator</string>
    <key>backupPool</key>
    <string>ReturnDivineThreatAdapter</string>
    <key>holisticInstance</key>
    <string>GrandMacroFromManager</string>
    <key>interpreterGlorious</key>
    <string>AccessAccuratePackEnum</string>
    <key>baseExquisite</key>
    <string>TrackPrimeYieldingProxy</string>
    <key>uniqueRemote</key>
    <string>DuringBrightDatabaseGroup</string>
    <key>softPure</key>
    <string>LedgePeacefulGenerateExtension</string>
    <key>besideTone</key>
    <string>UrbanBirchFromFactory</string>
</dict>
</plist>
