<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
    <key>overReference</key>
    <string>LedgerSaveDecisiveTool</string>
    <key>mindfulBesideModule</key>
    <string>CheckSlateLuckyClass</string>
    <key>momentSunnySyncGroup</key>
    <string>PreciousCloseChatEngine</string>
    <key>acrossScript</key>
    <string>MakeDarkManageCompatible</string>
    <key>briefDecorator</key>
    <string>BeginTactfulPluginEnum</string>
    <key>basinDefineTestLight</key>
    <string>JewelCarefulResumeManager</string>
    <key>continueSpoke</key>
    <string>ZestfulCavernMoveList</string>
    <key>scanWatchObserverAmple</key>
    <string>DualMoveGlacierContainer</string>
    <key>mediatorRadiant</key>
    <string>FastSplitScanArray</string>
</dict>
</plist>
