<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
    <key>pauseDaleSaver</key>
    <string>ComplexFinishSceneController</string>
    <key>statePieceEminent</key>
    <string>RealSpaceAppendImplement</string>
    <key>poolDark</key>
    <string>OnLuminousFileSaver</string>
    <key>darkCreator</key>
    <string>ToWaveFriendlyProxy</string>
    <key>cancelDense</key>
    <string>GladClearZealousFactory</string>
    <key>compareFactoryValleyModest</key>
    <string>AlertPluginResetController</string>
</dict>
</plist>
