<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
    <key>novelIdle</key>
    <string>CentralGardenForDataSource</string>
    <key>compactDisplayExtensionSymbol</key>
    <string>SereneHillReplaceModel</string>
    <key>extensionPromiseAbstract</key>
    <string>FromValidUpdateVisitor</string>
    <key>toolRecordStream</key>
    <string>SoundUnityRecordTarget</string>
</dict>
</plist>
