<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
    <key>belowFilterGlorious</key>
    <string>BesideSteamPureMediator</string>
    <key>strategyReturnLight</key>
    <string>HandyInsideWorkDeserializer</string>
    <key>joyfulSaverLibrary</key>
    <string>AgileLedgerBeforeInterpreter</string>
    <key>extensionPlay</key>
    <string>MineLawfulHoldCoordinator</string>
    <key>loaderAudio</key>
    <string>DisplayHeightResilientFilter</string>
    <key>fancyTypeLotus</key>
    <string>LocalDeliverInformationArray</string>
</dict>
</plist>
