<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
    <key>viewAppendCrossSecure</key>
    <string>SortMatrixTrueDeserializer</string>
    <key>knollWinsomeAlong</key>
    <string>FancyAcceptValueManager</string>
    <key>landInterpreter</key>
    <string>AmongTheoryWiseHelper</string>
    <key>ownerMobile</key>
    <string>PetiteStoreHiveStrategy</string>
    <key>untilJubilantCacheHoly</key>
    <string>FlukeInitialForObserver</string>
    <key>getWinsome</key>
    <string>OntoBoardGrandController</string>
</dict>
</plist>
