<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
    <key>rareMediatorSendBright</key>
    <string>FormatPlaySacredDelegate</string>
    <key>nobleExtractCollectionBlithe</key>
    <string>ReleaseAccurateShellMediator</string>
    <key>createStory</key>
    <string>MoveWishModalProxy</string>
    <key>healthyOwner</key>
    <string>StoneReliableEncodeGroup</string>
</dict>
</plist>
