<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
    <key>trustTypeSend</key>
    <string>PlayProperLotusDeserializer</string>
    <key>ivoryCalmLoader</key>
    <string>UnderYieldingQueueDispatcher</string>
    <key>insertImmenseVisitorSplash</key>
    <string>MoveNookBareCommand</string>
    <key>guideSkilledTestCompatible</key>
    <string>AssignExoticYieldingLoader</string>
    <key>intenseInitialize</key>
    <string>BlitheWinterDownInstance</string>
    <key>withinProud</key>
    <string>DuneRoyalEndEnum</string>
    <key>submitTame</key>
    <string>BindTenseAgentSaver</string>
    <key>dataSourceMessageModestWait</key>
    <string>FormalBoundDrawBase</string>
    <key>creatorPrivate</key>
    <string>SilentShowSphereAgent</string>
    <key>kindredSerializerLog</key>
    <string>TenseDataCreateBroker</string>
</dict>
</plist>
