<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
    <key>serializerPrintWeb</key>
    <string>RusticUpHardyLoader</string>
    <key>cacheSpeakAustereEncode</key>
    <string>FetchLandCelestialState</string>
    <key>returnFactoryNaturalTreat</key>
    <string>AssignRationalSteamFormatter</string>
    <key>providerLaunchReportPleased</key>
    <string>DecoderAmongAstuteSaver</string>
</dict>
</plist>
