<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
    <key>syncWealthyCompatibleDecent</key>
    <string>ReliableMultiplySupplyProvider</string>
    <key>adapterSecure</key>
    <string>BehindHavenWisePool</string>
    <key>standDataSourceDecisiveBuild</key>
    <string>GentleTerrainBeginCompatible</string>
    <key>compatibleReplaceRobustCoder</key>
    <string>MixerFindBroadProtocol</string>
</dict>
</plist>
