<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
    <key>creativeBeginAgent</key>
    <string>EqualVoiceViaEngine</string>
    <key>pastClass</key>
    <string>AmidModestSlipModule</string>
    <key>packArrayUtilitySteady</key>
    <string>LakeAdvancedOutsideAgent</string>
    <key>validatorHumaneStripe</key>
    <string>ExactIntenseAmidHandler</string>
</dict>
</plist>
