<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
    <key>rareInterpreter</key>
    <string>AgileMultiplyJunctionOwner</string>
    <key>pristineAppend</key>
    <string>FromMysticCompactFilter</string>
    <key>etherealLeapInsert</key>
    <string>PlushEmberDisplayTool</string>
    <key>observerDarkFluent</key>
    <string>UpgradeClearComplexCommand</string>
</dict>
</plist>
