<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
    <key>displaySafeThenGlad</key>
    <string>TrustedPerformIntimateType</string>
    <key>loadAdapterHeroicTest</key>
    <string>PastRemoteComplexExtension</string>
    <key>classResetLaneGrand</key>
    <string>FormalViaAngleMediator</string>
    <key>helperVisible</key>
    <string>FastTestWideCompatible</string>
    <key>coordinatorReliable</key>
    <string>PristineFixStationBuilder</string>
    <key>graveStrategyCalmProcess</key>
    <string>ClassicVectorAccelerateInstance</string>
</dict>
</plist>
