<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
    <key>willowAddBase</key>
    <string>RecordBlitheLightAdapter</string>
    <key>senseDeserializerMeritAccept</key>
    <string>EncodeKnownExpertType</string>
    <key>museLastingSaver</key>
    <string>DisplayZealousStandHandler</string>
    <key>holdViewStrengthClear</key>
    <string>CreateContentOriginalStrategy</string>
    <key>deletePoolPixel</key>
    <string>LogicalBesideFeatureHeader</string>
</dict>
</plist>
