<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
    <key>exquisiteTransformable</key>
    <string>ProperTeamFinishValidator</string>
    <key>implementRegisterSplash</key>
    <string>ControllerAgainstAustereValidator</string>
    <key>controllerSmartByCareful</key>
    <string>LockPastNearBuilder</string>
</dict>
</plist>
