<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
    <key>creatorDisplayBrilliant</key>
    <string>StrongFindFlatFormatter</string>
    <key>finishStem</key>
    <string>FlowUnityCloseInstance</string>
    <key>dawnMarkResilientProxy</key>
    <string>UtmostReplaceReliefDecorator</string>
    <key>wideListMergeBrilliant</key>
    <string>MergeNeutralMagicAgent</string>
    <key>firthAbundant</key>
    <string>SilentReceiveTagBroker</string>
    <key>packImplementKnownOrder</key>
    <string>SmartBeginLogicDefine</string>
</dict>
</plist>
