<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
    <key>graveBuild</key>
    <string>QuirkHideTenseManager</string>
    <key>defineSplendidMuseThroughout</key>
    <string>VastDashboardBehindDecorator</string>
    <key>roundBaseDarkModest</key>
    <string>CrestFineSubmitHelper</string>
    <key>poolRootOfRational</key>
    <string>BesideSystemKindredExtension</string>
    <key>cacheComposite</key>
    <string>TowardSternIndexLoader</string>
    <key>instanceMessageAgainstUrbane</key>
    <string>PrimalFastDetectDecorator</string>
    <key>stateRobust</key>
    <string>InstanceAlongDecentGroup</string>
    <key>delicateList</key>
    <string>EasyBeneathSimpleBroker</string>
    <key>interpreterAble</key>
    <string>EnableGroveBasicInterpreter</string>
</dict>
</plist>
