<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
    <key>riverInsertPreciousBase</key>
    <string>EarnestFormatDownFilter</string>
    <key>validatorYieldBonny</key>
    <string>SoundDebugDurableEnum</string>
    <key>mapModelTest</key>
    <string>KeenAmongPlayfulHandler</string>
    <key>interpreterDebugCoherent</key>
    <string>ScrollWaitJoyfulExtension</string>
    <key>interpreterEndGrowing</key>
    <string>BasicWithinCascadeDispatcher</string>
</dict>
</plist>
