<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
    <key>happyWatchSaver</key>
    <string>UrbanSurfInCache</string>
    <key>majorCycle</key>
    <string>ConvertMinimalShellArray</string>
    <key>lucentManager</key>
    <string>QuickToPositionInstance</string>
</dict>
</plist>
