<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
    <key>adeptHold</key>
    <string>AlongStandModestProxy</string>
    <key>groupShade</key>
    <string>EncodeWideFreshLoader</string>
    <key>stateZippyAddKeen</key>
    <string>DecisiveStrengthEnableCoordinator</string>
    <key>registerModelStationClean</key>
    <string>WideProtectFillCollection</string>
    <key>resilientVoice</key>
    <string>PaintValuableNodeTransformable</string>
</dict>
</plist>
