<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
    <key>chiefMake</key>
    <string>GraveReleaseBareDelegate</string>
    <key>beneathReal</key>
    <string>ImprovedTrackDaintyClass</string>
    <key>proxyDiscreteReplace</key>
    <string>SolidModalPastFormatter</string>
    <key>agentProperLuminous</key>
    <string>RefreshSeaGiganticFilter</string>
    <key>multiplyResilientFilterMonitor</key>
    <string>QuillHealthyOverCreator</string>
    <key>wingAccelerate</key>
    <string>GenuineFixAdapterCollection</string>
    <key>outsideGroup</key>
    <string>MightInGreatPool</string>
</dict>
</plist>
