<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
    <key>splitNaturalStrategy</key>
    <string>AmberSplitDashboardHeader</string>
    <key>simpleAdapter</key>
    <string>RefreshQuintessentialDecoderBase</string>
    <key>ownerReadVoiceHasty</key>
    <string>ForwardMapCoolDefine</string>
    <key>compatibleYardHarmonicPaint</key>
    <string>SilentMapFetchPool</string>
    <key>extraSelect</key>
    <string>ViaHolySkyDecorator</string>
    <key>badgeLuminous</key>
    <string>MainNookAfterTool</string>
</dict>
</plist>
