<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
    <key>commandBeginVast</key>
    <string>ModalUpValleyTarget</string>
    <key>overFine</key>
    <string>PaintYewSafeStack</string>
    <key>novelTarget</key>
    <string>AssignMoorHarmonicProvider</string>
    <key>melodyDelegate</key>
    <string>AfterModalGardenTransformable</string>
    <key>forKindredViewSpeak</key>
    <string>PoplarRecordLucentCoordinator</string>
    <key>historyDisplay</key>
    <string>FairHarborProcessTransformable</string>
</dict>
</plist>
