<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
    <key>typeLogicalLaunch</key>
    <string>InformationAppendSimpleController</string>
    <key>extensionMainLoaderTransform</key>
    <string>RefinedLibraryRegisterDataSource</string>
    <key>filterRetreatAmberOver</key>
    <string>MultiplyAudioModernDecorator</string>
    <key>protocolWellExtractVigorous</key>
    <string>MethodCleverParseInstance</string>
    <key>cliffReadPlayful</key>
    <string>AddTameCheckState</string>
    <key>graveProtocol</key>
    <string>OptimalRemoteBetweenFactory</string>
    <key>wisdomRead</key>
    <string>KindredPetalTestDecorator</string>
    <key>commandVaporUnder</key>
    <string>AdeptMightySearchCoordinator</string>
    <key>solutionRealCollectionSync</key>
    <string>FrameSunnyDeliverCollection</string>
</dict>
</plist>
