<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
    <key>readLiberal</key>
    <string>ClassicErrorByInterpreter</string>
    <key>cancelState</key>
    <string>UnitySubmitSolutionType</string>
    <key>fetchTensePineHelper</key>
    <string>HeavenBuildSmoothStrategy</string>
    <key>formatterPinePassiveOpen</key>
    <string>DeviceValuableWriteManager</string>
    <key>urchinTiny</key>
    <string>UponSecureLuminousTransformable</string>
</dict>
</plist>
