<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
    <key>durableFitModelHold</key>
    <string>PlatformEqualRemoveModule</string>
    <key>poolSwiftOver</key>
    <string>PromiseJovialTrySaver</string>
    <key>terseMoveCoordinatorSlide</key>
    <string>HumbleRockContinueEngine</string>
    <key>wingSoundRunObserver</key>
    <string>LastingSyncStackStack</string>
</dict>
</plist>
