<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
    <key>providerWise</key>
    <string>ScaleEqualByAgent</string>
    <key>controllerCavernGreenOf</key>
    <string>ThreadInSharpValidator</string>
    <key>stationByImprovedGroup</key>
    <string>DetectFilterMainDecorator</string>
    <key>upwardWithDelegate</key>
    <string>InfiniteMultiplyThreatReference</string>
    <key>passiveLayoutMediatorStop</key>
    <string>DecodeIdealCheckTool</string>
</dict>
</plist>
