<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
    <key>shapeLasting</key>
    <string>DecentSpeakMatchCompatible</string>
    <key>groupPetiteSummit</key>
    <string>LaneSoundReleaseModule</string>
    <key>heightBrilliantPause</key>
    <string>BelowExoticClearThen</string>
    <key>appendSoft</key>
    <string>StoreOriginalAgentExtension</string>
    <key>returnVectorAdapterInitial</key>
    <string>TriumphCleanTerseMediator</string>
</dict>
</plist>
