<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
    <key>interpreterDensePack</key>
    <string>BackupTrainHumbleSaver</string>
    <key>alongsidePlain</key>
    <string>CivicWealthTowardStack</string>
    <key>thicketHold</key>
    <string>QueryBonnyAccelerateAdapter</string>
    <key>formatterAcuteSync</key>
    <string>MightyShadowBeyondDecorator</string>
    <key>tameHandler</key>
    <string>PristineSearchRegistryReference</string>
    <key>managerDefinedEnable</key>
    <string>DrawElegantRavenValidator</string>
</dict>
</plist>
