<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
    <key>graveHub</key>
    <string>ExoticPastSweetOwner</string>
    <key>imageHappy</key>
    <string>InstanceModalDecodeCommand</string>
    <key>compatibleFluentFlora</key>
    <string>ShowIntoUnusualEngine</string>
    <key>continueVividSegmentArray</key>
    <string>ModernOrderDuringEngine</string>
</dict>
</plist>
