<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
    <key>modelFile</key>
    <string>SiteHandleWealthyCoordinator</string>
    <key>lockView</key>
    <string>ReliableFixRootEngine</string>
    <key>controlEnum</key>
    <string>BrilliantMoveStyleFilter</string>
    <key>intimateBelowTool</key>
    <string>UnderDaintyDirectFactory</string>
    <key>ratePrime</key>
    <string>InObviousGridType</string>
    <key>saverLinkTry</key>
    <string>BlitheDetectDaintyDecorator</string>
</dict>
</plist>
