<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
    <key>fetchMatureBroker</key>
    <string>BeginJovialTheoryController</string>
    <key>saverResource</key>
    <string>BesideJadeRareEngine</string>
    <key>loaderPrime</key>
    <string>WittyWildDeleteOwner</string>
    <key>engineWindowCloseGenerous</key>
    <string>PluginFluentViaType</string>
    <key>streamHandsomeReadDecorator</key>
    <string>OddPortalCancelValidator</string>
    <key>zenithPathOpenTool</key>
    <string>EnableDecisiveSageReference</string>
    <key>buildScriptDispatcher</key>
    <string>InitializeAssetRealDispatcher</string>
    <key>enablePristine</key>
    <string>PrintMerryMessageReference</string>
    <key>digitalMultiplyImplement</key>
    <string>CloseTaskBonnyInterpreter</string>
</dict>
</plist>
