<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
    <key>releaseBaseEarthJade</key>
    <string>UntilGoodFileDelegate</string>
    <key>surgeDisplay</key>
    <string>CoderBeyondCleverList</string>
    <key>removeHelperSummitTrusty</key>
    <string>ModalAbovePromiseView</string>
    <key>growingClose</key>
    <string>SlideBetweenPlayfulDecorator</string>
    <key>collectionCleverKnoll</key>
    <string>ControlCleanEncodeBroker</string>
    <key>alertPrimalObserverParse</key>
    <string>ClearFaintResilientType</string>
    <key>instanceWithinSystematic</key>
    <string>AccelerateFineMindList</string>
</dict>
</plist>
