<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
    <key>matchFactoryConfig</key>
    <string>StopAuthenticHardyInterpreter</string>
    <key>updateLaunchEngineFirm</key>
    <string>ResetUnusualHiveType</string>
    <key>robustLoyal</key>
    <string>HonestInPoplarAgent</string>
    <key>applyExotic</key>
    <string>BetweenPleasantHavenView</string>
    <key>replaceUpwardThenGraceful</key>
    <string>ImageIntuitiveOnExtension</string>
    <key>contextThickInsert</key>
    <string>HumaneSyncToHandler</string>
    <key>engineOrnateModuleDrop</key>
    <string>CoherentMapStopController</string>
    <key>portraitGet</key>
    <string>CrispUponExoticThen</string>
    <key>braveLoaderYew</key>
    <string>InOptimalForceDeserializer</string>
</dict>
</plist>
