<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
    <key>adapterVia</key>
    <string>TestMeasuredOptionExtension</string>
    <key>pushBlockEasy</key>
    <string>SendSlipModestModule</string>
    <key>minimalLoader</key>
    <string>LoaderGlobalFixImplement</string>
    <key>modalAttachPromiseFactory</key>
    <string>PageBehindMajorFilter</string>
    <key>towardHumorWiseHeader</key>
    <string>GuideGraciousFromManager</string>
    <key>beneathProxy</key>
    <string>PureTowardEtherealBuilder</string>
    <key>pushFilterTask</key>
    <string>PoolAtGentleDataSource</string>
</dict>
</plist>
