<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
    <key>initializeKinetic</key>
    <string>HoldTallPlainExtension</string>
    <key>deserializerGenerate</key>
    <string>JungleTransformDaintyProtocol</string>
    <key>rapidsOffFaithfulSerializer</key>
    <string>OakenCheckSpaceHeader</string>
    <key>facadeLocalFaithfulUpdate</key>
    <string>GladSplitRateSaver</string>
    <key>managerLimitRegister</key>
    <string>SuperRestoreParadiseClass</string>
    <key>headerYardDiscreteInto</key>
    <string>FormatReturnMeasuredController</string>
</dict>
</plist>
