<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
    <key>idleUntilEngine</key>
    <string>FixUpwardPromptDispatcher</string>
    <key>bindOuterPrairieDecorator</key>
    <string>SteamGiganticParseProvider</string>
    <key>viaMineSubtle</key>
    <string>SolidTopOffExtension</string>
    <key>deleteGraceful</key>
    <string>MarkTagKindEngine</string>
    <key>atGentleClean</key>
    <string>ReceiveUrchinMindfulCoordinator</string>
    <key>cacheTrueInside</key>
    <string>ApplyScrollFitLoader</string>
    <key>timelyMapMindFormatter</key>
    <string>AfterSteelMeasuredPool</string>
</dict>
</plist>
