<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
    <key>proxyTransformAdvanced</key>
    <string>DebugLocalReceiveModule</string>
    <key>modifyHelperBold</key>
    <string>UniversalExecutePolicyThen</string>
    <key>featureInterpreter</key>
    <string>MultiplyKindredGlobalType</string>
    <key>vineBaseDisplay</key>
    <string>FriendlyPastResourceEngine</string>
</dict>
</plist>
