<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
    <key>extensionDriverCentral</key>
    <string>GenuineTrackBackupStack</string>
    <key>willingForward</key>
    <string>RangeBlitheTrackModule</string>
    <key>formatterQuintessentialSoft</key>
    <string>SandPackSuperStrategy</string>
</dict>
</plist>
