<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
    <key>symbolTrain</key>
    <string>MobileGenerousCloseProvider</string>
    <key>audioVast</key>
    <string>RobustFixLoyalEnum</string>
    <key>feasibleSave</key>
    <string>CivicColumnResetCollection</string>
    <key>webHoldThen</key>
    <string>PleasantBadgePushView</string>
    <key>kindredRefreshSelfClass</key>
    <string>CompositeLaunchRockDispatcher</string>
</dict>
</plist>
