<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
    <key>exactTest</key>
    <string>ToGrandNorthList</string>
    <key>timelyStrategy</key>
    <string>RemovePrimeFairDecorator</string>
    <key>giftedSort</key>
    <string>NearGraveMistInterpreter</string>
    <key>holisticValidate</key>
    <string>LucentProperTransformSerializer</string>
    <key>sternStrike</key>
    <string>UpwardImportSystemFilter</string>
</dict>
</plist>
