<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
    <key>spaceAroundDataSourceLasting</key>
    <string>HardyMatchWhiteVisitor</string>
    <key>mobileResumeBrisk</key>
    <string>IntuitiveTowardRockSaver</string>
    <key>scopeAcross</key>
    <string>ExtraStretchRoundFactory</string>
    <key>saverEndless</key>
    <string>EliteWingForThen</string>
    <key>winsomePrairieBeforeImplement</key>
    <string>MeritSendCrownManager</string>
    <key>managerHide</key>
    <string>MonitorSubtleAfterEngine</string>
    <key>layoutGraveMoveDecorator</key>
    <string>KeeperRobustAssignClass</string>
    <key>idealPrintPoolStory</key>
    <string>SendCleverTransitPool</string>
    <key>visionEnergeticBy</key>
    <string>MoveSharpFlowAgent</string>
    <key>flatDelete</key>
    <string>GenerateStateKindAgent</string>
</dict>
</plist>
