<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
    <key>compatibleClearFocused</key>
    <string>StoneExecuteVirtuousTarget</string>
    <key>tactfulDefinePlaySolution</key>
    <string>OasisAppendPositiveType</string>
    <key>replaceBlithePool</key>
    <string>FrostAmberForClass</string>
    <key>createDeserializerSourceAgile</key>
    <string>GridAbundantFetchPool</string>
    <key>solidPixel</key>
    <string>SmoothAccelerateZenithCoordinator</string>
    <key>portraitRadiant</key>
    <string>ValidateSignalMerryStrategy</string>
    <key>mightyFilter</key>
    <string>ReflectMainDebugProvider</string>
    <key>elmHelperReplaceNeat</key>
    <string>UtmostHazeUponCommand</string>
    <key>containerMakeHeaven</key>
    <string>DirectGrandFetchProxy</string>
</dict>
</plist>
