<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
    <key>worthWittyObserver</key>
    <string>GladCreateTurnDelegate</string>
    <key>commandSend</key>
    <string>WarmImageResetEngine</string>
    <key>nativeCascadeStore</key>
    <string>TransformMobileBridgeBuilder</string>
    <key>matureShareOntoProtocol</key>
    <string>SecureHeathRestoreController</string>
    <key>engineAtMight</key>
    <string>BridgeReleaseZealousContainer</string>
    <key>processBroker</key>
    <string>ShowFlukeIdleFormatter</string>
</dict>
</plist>
