<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
    <key>dispatcherTransitSelect</key>
    <string>SwirlExtraThroughoutProvider</string>
    <key>adeptOver</key>
    <string>FreeLoadFloraCompatible</string>
    <key>adapterWave</key>
    <string>WisdomSearchMildDecorator</string>
    <key>filterElite</key>
    <string>ForcefulMineBelowReference</string>
</dict>
</plist>
