<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
    <key>rareManagerLandscape</key>
    <string>HeathSubmitNaturalBuilder</string>
    <key>brookWorthyVisitor</key>
    <string>GroveUnusualLoadView</string>
    <key>gentleUpdateFilterVerse</key>
    <string>JadeSendAtlasCoordinator</string>
    <key>holdCool</key>
    <string>TypeEndlessStoreHeader</string>
    <key>beforeGraphAzure</key>
    <string>DetectJadePluginEngine</string>
    <key>toolHolyWishCreate</key>
    <string>SolidBackupAlongAdapter</string>
    <key>positiveContainerWalk</key>
    <string>ParseLogicalYieldController</string>
    <key>handsomePieceConvertGroup</key>
    <string>WebResumeLooseExtension</string>
</dict>
</plist>
