<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
    <key>insideGloriousProvider</key>
    <string>WaitFirmSandFilter</string>
    <key>selfForceful</key>
    <string>LeapPrivateHoldDataSource</string>
    <key>groupEmberVibrantAttach</key>
    <string>WorthJustAppendCoordinator</string>
    <key>commandHarmlessCommandEnable</key>
    <string>LocalUpWaterOwner</string>
    <key>viaFondHelix</key>
    <string>BindLedgerRoyalSerializer</string>
    <key>knownDelegateBuildFaint</key>
    <string>OptimalWriteTriggerProxy</string>
    <key>lotusLuminousSerializer</key>
    <string>LoadOakenStrengthSerializer</string>
</dict>
</plist>
