<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
    <key>placeWideType</key>
    <string>ReplaceNorthTrueLoader</string>
    <key>realmDelegate</key>
    <string>AcrossDebugBlitheHandler</string>
    <key>decentEdgeFind</key>
    <string>VividWithHumorEngine</string>
    <key>loaderObserver</key>
    <string>ProcessAtEndlessEngine</string>
    <key>detectEnum</key>
    <string>DrawFormalGraphCommand</string>
    <key>styleCoherent</key>
    <string>ModernUnderScanDataSource</string>
    <key>vibrantEncode</key>
    <string>ViaJovialShadowModule</string>
    <key>modelAudioAssign</key>
    <string>VectorUpUnityBroker</string>
    <key>guideCommand</key>
    <string>LibraryBeginJoyfulDispatcher</string>
</dict>
</plist>
