<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
    <key>byJubilantClass</key>
    <string>TagFastIntoList</string>
    <key>aroundIntense</key>
    <string>BeneathShadeUpwardCreator</string>
    <key>pausePlazaExquisitePool</key>
    <string>InfinitePhoenixBeforeArray</string>
</dict>
</plist>
