<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
    <key>creatorModalLoadChief</key>
    <string>SacredMarkOasisCollection</string>
    <key>intoIvory</key>
    <string>PlainOriginalNearDeserializer</string>
    <key>fastExtension</key>
    <string>FindInvitingCanyonCommand</string>
    <key>enumEarnestEncodeYew</key>
    <string>VigorousStoreDirectInstance</string>
    <key>visitorDisplayOrderStable</key>
    <string>ElegantTrailFindInstance</string>
    <key>voyageConnectController</key>
    <string>ForLitheMistVisitor</string>
    <key>intoBrowserState</key>
    <string>FaithfulRoyalDrawEnum</string>
</dict>
</plist>
