<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
    <key>floraThenBeside</key>
    <string>AmongGladSurfAdapter</string>
    <key>sphereModest</key>
    <string>OntoTerrainKindDefine</string>
    <key>decoratorMerge</key>
    <string>TransformVocalTopTransformable</string>
    <key>petiteControllerStackReturn</key>
    <string>BesideFreshObjectHandler</string>
    <key>showSoft</key>
    <string>PetiteGlobalDebugState</string>
</dict>
</plist>
