<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
    <key>denseScan</key>
    <string>ClearToneDropController</string>
    <key>warmAmidAgentFirm</key>
    <string>SurfVibrantReplaceModel</string>
    <key>referenceResume</key>
    <string>ManifestShowPlainCompatible</string>
    <key>daintyControllerDistinct</key>
    <string>DrawSpiceDramaticProxy</string>
    <key>birchModelFondSelect</key>
    <string>MakeLooseBridgeArray</string>
</dict>
</plist>
