<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
    <key>typeWithProvisionRoyal</key>
    <string>MoveImportMutualDelegate</string>
    <key>agileStopConsole</key>
    <string>PerformSegmentTactfulStack</string>
    <key>enumExtract</key>
    <string>PassiveControllerHandleGroup</string>
    <key>definedShowBuilder</key>
    <string>MediaNeatPastProvider</string>
    <key>sageSearchObserver</key>
    <string>CodecTenderSaveInterpreter</string>
    <key>acceptRecordArray</key>
    <string>ModelPreciousCalculateProvider</string>
    <key>transformableInsert</key>
    <string>PaintStandAstuteTool</string>
</dict>
</plist>
