<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
    <key>toolResponse</key>
    <string>ClearWittyStreamCreator</string>
    <key>globalIslandProxy</key>
    <string>DiscreteUnderHavenThen</string>
    <key>delegateFormalAcross</key>
    <string>ClassicReliefVerifyInstance</string>
    <key>petalAtGigantic</key>
    <string>CivicHoldPoplarDelegate</string>
    <key>compatibleAcceptSmooth</key>
    <string>HolisticTrackMinimalDefine</string>
    <key>formatterStrike</key>
    <string>LastingResumeDomainModel</string>
    <key>withoutMeasuredDeserializerShow</key>
    <string>GraveBeforeStoryVisitor</string>
    <key>addDenseHandler</key>
    <string>RealmSwiftFromContainer</string>
</dict>
</plist>
