<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
    <key>rateExtraContinue</key>
    <string>StayExtractEnergeticSaver</string>
    <key>jovialOnto</key>
    <string>AmpleCalculateDurableCoordinator</string>
    <key>fineSearch</key>
    <string>VocalMultiplySensorCoordinator</string>
    <key>vividCreator</key>
    <string>WiseClearMistBase</string>
    <key>applyPoplar</key>
    <string>PrismStopSleekManager</string>
</dict>
</plist>
