<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
    <key>chartUtmost</key>
    <string>GreatDecodeKeyGroup</string>
    <key>enumManager</key>
    <string>FillExquisiteTimerCompatible</string>
    <key>baseHandsomeAccelerate</key>
    <string>LoadGentleExquisiteCompatible</string>
    <key>debugFileOriginal</key>
    <string>RowRestoreMightyImplement</string>
</dict>
</plist>
