<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
    <key>proxySubmitSpaceWitty</key>
    <string>EqualDefinedGetDataSource</string>
    <key>fancyWithoutCompatible</key>
    <string>HealthyKiteCleanDelegate</string>
    <key>cryptTest</key>
    <string>ConvertAdvancedHeathAgent</string>
    <key>listAcross</key>
    <string>EndGreatGentleSerializer</string>
    <key>continueSimple</key>
    <string>ProviderFixNeatInterpreter</string>
    <key>binaryIdealMakeStrategy</key>
    <string>LawfulMagnetLaunchDefine</string>
    <key>ownerElementMinimal</key>
    <string>LoyalLogMutualClass</string>
    <key>legacyEnumSplit</key>
    <string>OverVocalMapClass</string>
    <key>enginePearl</key>
    <string>DialogReplaceSharpModel</string>
</dict>
</plist>
