<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
    <key>processTransitInfinite</key>
    <string>CalmTrustedLogBuilder</string>
    <key>facadePlayful</key>
    <string>LockMajorInsideBroker</string>
    <key>throughoutProtocolThick</key>
    <string>MapWriteBriefProvider</string>
    <key>getTool</key>
    <string>GlobeWriteLeanDefine</string>
    <key>poolStoreSkilled</key>
    <string>CivicWithinWideReference</string>
    <key>visitorUnder</key>
    <string>BoundCarefulHandleBase</string>
    <key>duneExtractSplendidContainer</key>
    <string>SearchTextHandsomeDataSource</string>
    <key>panelKnownDeserializerDecode</key>
    <string>ReceiveIntuitiveViewCompatible</string>
    <key>packageOnBroad</key>
    <string>StrongInsightExtractBase</string>
    <key>debugHeightCommandNear</key>
    <string>TrustedExecutePearlAgent</string>
</dict>
</plist>
