<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
    <key>rusticController</key>
    <string>StandCarefulParseBase</string>
    <key>formatAdaptiveBind</key>
    <string>AbsoluteDownTowerSaver</string>
    <key>brilliantInterpreterViewSave</key>
    <string>AccelerateImprovedDirectCreator</string>
    <key>parsePortalMediatorSuper</key>
    <string>MatureMagicRoundDelegate</string>
    <key>mapEnum</key>
    <string>PackPoolKeenBroker</string>
    <key>strategySerene</key>
    <string>PureUpEventFacade</string>
    <key>infiniteAccelerateArray</key>
    <string>WellMoveSafeThen</string>
</dict>
</plist>
