<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
    <key>gladCompatibleMoveRequest</key>
    <string>ThornBeyondTrustedController</string>
    <key>styleIn</key>
    <string>WatchForwardFluentController</string>
    <key>factoryLock</key>
    <string>ShellFluentAroundImplement</string>
    <key>endBlitheBold</key>
    <string>StayIntimateThroughoutProxy</string>
    <key>filterDisplayZippyNovel</key>
    <string>TimelyInsertProfileImplement</string>
</dict>
</plist>
