<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
    <key>commandWindDelicate</key>
    <string>StableHoldPageCollection</string>
    <key>ableModelTwist</key>
    <string>PauseInvitingMagicGroup</string>
    <key>kindBaseFindCascade</key>
    <string>PerformPacificWindowType</string>
</dict>
</plist>
