<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
    <key>strengthMajorBrokerSelect</key>
    <string>BuoyantBeyondCanyonGroup</string>
    <key>petiteWealth</key>
    <string>WittyBesidePlanetFacade</string>
    <key>againstJovial</key>
    <string>EdgeNativeHideProvider</string>
</dict>
</plist>
