<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
    <key>targetBelowShellFluent</key>
    <string>PageEnableBoldEngine</string>
    <key>overAgainst</key>
    <string>FluentPetalImportController</string>
    <key>acceptValidator</key>
    <string>TestWisdomStrongController</string>
    <key>initializeFactory</key>
    <string>LoadFlameLawfulCoordinator</string>
</dict>
</plist>
