<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
    <key>proudBuilder</key>
    <string>CalmHandleAmpleOwner</string>
    <key>kineticSaverBeginTune</key>
    <string>PerformTrailHumaneExtension</string>
    <key>localPoolClass</key>
    <string>ReflectBrilliantStopCompatible</string>
    <key>globalTest</key>
    <string>BuoyantDeepModifyArray</string>
    <key>poplarOwner</key>
    <string>MinimalAmongSandCommand</string>
    <key>wildPlushByInstance</key>
    <string>UtmostDrawFlatTransformable</string>
    <key>volumeSaveImplement</key>
    <string>DecisiveAuroraSearchCompatible</string>
    <key>tinyCommandGenerate</key>
    <string>OnyxSubmitTallExtension</string>
</dict>
</plist>
