<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
    <key>frameEngineViable</key>
    <string>ModuleCleanInitializeSaver</string>
    <key>convertArray</key>
    <string>HandyMightWaitThen</string>
    <key>acrossEnum</key>
    <string>MindStopDecentTarget</string>
    <key>parseHeaderModest</key>
    <string>StormValuableGenerateBase</string>
    <key>pathReturnCollection</key>
    <string>TeamEminentApplyList</string>
    <key>detectProxy</key>
    <string>TryBriefSteelImplement</string>
    <key>silentHelperAmid</key>
    <string>BraveStateDebugLoader</string>
    <key>enumSoftInsideTiny</key>
    <string>AmidGrowingStairFactory</string>
    <key>modelWithoutWireless</key>
    <string>ModifyBareDesertEngine</string>
</dict>
</plist>
