<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
    <key>extraBlendFacadeAlongside</key>
    <string>TriggerAmidFitModule</string>
    <key>visitorFirm</key>
    <string>EndPositiveDeepCompatible</string>
    <key>dashboardView</key>
    <string>IntuitiveScaleRemoveTool</string>
</dict>
</plist>
