<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
    <key>filterDecentBy</key>
    <string>TransformIvoryMelodyProxy</string>
    <key>removeOverStateQuiet</key>
    <string>ConnectAbstractGroveDataSource</string>
    <key>brilliantSave</key>
    <string>LuminousAtInformationDataSource</string>
    <key>shadeSearch</key>
    <string>DenseTextAnalyzeDelegate</string>
    <key>kiteAcceptFacade</key>
    <string>ParseDecentVectorObserver</string>
    <key>wiseExtension</key>
    <string>SelectHarmlessGladInstance</string>
    <key>reportMature</key>
    <string>OverRadiantOffClass</string>
    <key>logInstanceMobileFairy</key>
    <string>TriumphUpwardDetectBase</string>
    <key>immenseStageFactoryInto</key>
    <string>WaitHistoryFastGroup</string>
    <key>returnScene</key>
    <string>ResumeInvitingForestArray</string>
</dict>
</plist>
