<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
    <key>tenderModelDebug</key>
    <string>WriteSternBrightLoader</string>
    <key>statusFactory</key>
    <string>ForwardImprovedAcceptHelper</string>
    <key>daintyObserverHideStory</key>
    <string>GlobalTransformSceneCollection</string>
    <key>facadePower</key>
    <string>PushGraveHillAgent</string>
    <key>structureDeserializerUpVast</key>
    <string>CancelAcuteSolidFormatter</string>
    <key>wingDrawVitalCompatible</key>
    <string>BalancedEngineLoadModule</string>
    <key>solidManager</key>
    <string>GrowingVisionGetProxy</string>
    <key>interpreterResponseEnd</key>
    <string>ChainRusticDeliverArray</string>
    <key>receiveFirmSnow</key>
    <string>ReleaseProvisionModestFactory</string>
    <key>thickCompatibleBeside</key>
    <string>PrimalPageInsertView</string>
</dict>
</plist>
