<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
    <key>azureThreadSelect</key>
    <string>StormCheckDaintyFacade</string>
    <key>loadMediatorHaven</key>
    <string>FromBadgeAzureBuilder</string>
    <key>transformTool</key>
    <string>KeeperEtherealFindFormatter</string>
    <key>saverSolid</key>
    <string>GlobalRecordReliefEnum</string>
    <key>defineSearch</key>
    <string>ZenithValuableFindBuilder</string>
    <key>interpreterDecisiveAmongCheck</key>
    <string>OakenLandscapeSendAdapter</string>
    <key>providerHarborGenuineVerify</key>
    <string>SurgeLogRareDecorator</string>
</dict>
</plist>
