<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
    <key>terseProvisionExtensionCompare</key>
    <string>BuoyantFetchLogicView</string>
    <key>natureAccurate</key>
    <string>TryObjectHappyList</string>
    <key>applyExactSerializer</key>
    <string>WillowUniqueGetEnum</string>
    <key>lucidBoundCalculateHelper</key>
    <string>UmbraDecentTrackController</string>
</dict>
</plist>
