<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
    <key>interpreterSmoothMap</key>
    <string>OnyxMatureConvertThen</string>
    <key>moduleZephyrImport</key>
    <string>ConvertKindredForwardCache</string>
    <key>outsideJubilantElegantCreator</key>
    <string>ValuableTransitDecodePool</string>
    <key>compatibleOutsideModelQuick</key>
    <string>JovialFlowDrawAdapter</string>
    <key>withinTextTarget</key>
    <string>EtherealGroveAcrossLoader</string>
</dict>
</plist>
