<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
    <key>readMacroAdapterMutual</key>
    <string>WavePlushAnalyzeView</string>
    <key>interpreterSolar</key>
    <string>IvorySensePrintCreator</string>
    <key>fluentAroundDefineBackup</key>
    <string>MakeDurableTinyLoader</string>
    <key>adeptStop</key>
    <string>HeightSternWithCollection</string>
    <key>handlerRemove</key>
    <string>VastWinterSubmitTool</string>
    <key>wholeAtlasFacadeShow</key>
    <string>CheckAmberWaitController</string>
    <key>fixSandUnusualHelper</key>
    <string>SunInsertTranquilProvider</string>
</dict>
</plist>
