<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
    <key>proxyEstuaryReleaseFancy</key>
    <string>UnderStatusAcuteView</string>
    <key>listPackSensor</key>
    <string>ThroughMixerUniversalDeserializer</string>
    <key>smartScopeProtocol</key>
    <string>StringWithinBriefFacade</string>
    <key>pureBeneath</key>
    <string>StrongFreeBeginSaver</string>
</dict>
</plist>
