<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
    <key>heightSubtle</key>
    <string>ReceiveWaryListBuilder</string>
    <key>freshWatchMeritLoader</key>
    <string>RefreshBlitheSoftCommand</string>
    <key>matchBroad</key>
    <string>WinsomeMergeFilterLoader</string>
</dict>
</plist>
