<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
    <key>slipTransformableByVivid</key>
    <string>FocusedHandleWishCoordinator</string>
    <key>keeperPackFormatter</key>
    <string>UntilDistantTurnInstance</string>
    <key>goodHonestInstance</key>
    <string>AcrossBroadWingAdapter</string>
</dict>
</plist>
