<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
    <key>vividCoordinatorPlay</key>
    <string>FeasibleDownMarkerEngine</string>
    <key>protectMarkLoose</key>
    <string>TextNearDisplayCache</string>
    <key>builderHandle</key>
    <string>FormalUpdateNorthDispatcher</string>
    <key>checkTransformable</key>
    <string>TowardNativeFormatVisitor</string>
    <key>shellParseIvory</key>
    <string>UponRadiantWillingDelegate</string>
</dict>
</plist>
