<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
    <key>gladHandlerUnique</key>
    <string>LaunchGlobalSessionState</string>
    <key>forcefulStop</key>
    <string>ExtractWideResilientManager</string>
    <key>receiveTransformableWarm</key>
    <string>SaveSyncExactBroker</string>
</dict>
</plist>
