<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
    <key>verifyGroup</key>
    <string>QualitySaveGenericObserver</string>
    <key>openCreativeAgent</key>
    <string>AzureLanguageOverModel</string>
    <key>strategyOnHardyIdeal</key>
    <string>GrowingRegionBeforeSaver</string>
    <key>attachLoaderCreative</key>
    <string>MeritFreeSaveSerializer</string>
    <key>creatorWealthy</key>
    <string>ResetThreatSternAdapter</string>
</dict>
</plist>
