<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
    <key>engineSaveControl</key>
    <string>UtilityHarmonicProcessBase</string>
    <key>restoreDune</key>
    <string>OffChainHastyBroker</string>
    <key>behindState</key>
    <string>PauseDistantDarkProxy</string>
    <key>referenceHumbleOver</key>
    <string>PortalMinimalByAgent</string>
</dict>
</plist>
