<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
    <key>snowAstuteDeserializer</key>
    <string>CrystalByHappyEnum</string>
    <key>engineSecureParse</key>
    <string>ConfigRoundFreeProvider</string>
    <key>skilledStateHoldStem</key>
    <string>NodeCalmGetType</string>
    <key>continueThickJadeOwner</key>
    <string>RealAuroraIntoInterpreter</string>
    <key>harborProviderClose</key>
    <string>AnalyzeJoyfulDeviceExtension</string>
    <key>originalWellThroughContainer</key>
    <string>SetRecordGloriousType</string>
    <key>groupSpokePrint</key>
    <string>ObviousAcrossGroupController</string>
    <key>dataSourceTrustyBuildLandscape</key>
    <string>RestoreCoherentSolarTarget</string>
    <key>networkOutsideMild</key>
    <string>GladDurablePackSaver</string>
</dict>
</plist>
