<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
    <key>thenShowThorn</key>
    <string>GrowingMergeWorkCollection</string>
    <key>proxyInside</key>
    <string>AmidIvoryWindVisitor</string>
    <key>targetJovial</key>
    <string>DisplayBehindDaintyCollection</string>
</dict>
</plist>
