<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
    <key>loaderBind</key>
    <string>ExtractGatewayRobustFacade</string>
    <key>opalReceiveBroker</key>
    <string>FairRiverApplyEnum</string>
    <key>decoderTryProud</key>
    <string>SacredRusticMultiplyDataSource</string>
    <key>clearVapor</key>
    <string>FinishVisibleWanderDeserializer</string>
    <key>classJunctionExtra</key>
    <string>RecordListKindDefine</string>
    <key>neutralProvider</key>
    <string>PetiteSubmitUtilityAdapter</string>
    <key>zenithControllerBrokerInto</key>
    <string>CalculateTranquilPointInterpreter</string>
    <key>toolBambooDuringLively</key>
    <string>SafeForSelfArray</string>
</dict>
</plist>
