<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
    <key>tagAgent</key>
    <string>PetiteMainApplyCompatible</string>
    <key>getString</key>
    <string>CalculateDecoderNeutralBase</string>
    <key>dropPool</key>
    <string>RegisterSmartConfigProvider</string>
    <key>deltaWithinPleasedMediator</key>
    <string>ScopeAmpleTrainCollection</string>
    <key>enableOverHardy</key>
    <string>GentlePlayFastBroker</string>
    <key>adapterVerifyFocusWealthy</key>
    <string>RadiantAdeptMultiplyList</string>
    <key>refreshJunction</key>
    <string>AbundantCheckWebHeader</string>
</dict>
</plist>
