<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
    <key>harmlessWallAgent</key>
    <string>RootNeatHandleValidator</string>
    <key>clearFormatterFairyMutual</key>
    <string>StructureFormatSmartSerializer</string>
</dict>
</plist>
