<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
    <key>adaptiveListGetDomain</key>
    <string>PristineWatchScopeType</string>
    <key>nearReferenceAbsoluteTable</key>
    <string>PlainHazeRecordBroker</string>
    <key>handleChart</key>
    <string>BambooSmartCompareState</string>
    <key>segmentHide</key>
    <string>CanvasLucentContinueOwner</string>
    <key>targetGrand</key>
    <string>UntilLoaderLogicalExtension</string>
    <key>modelClear</key>
    <string>AbundantLockTreatManager</string>
    <key>runTinyDriver</key>
    <string>StartIvoryLakeModule</string>
    <key>shareResume</key>
    <string>GenerateVastEstuaryType</string>
    <key>receiveCommandDuskSharp</key>
    <string>VibrantVentureHoldManager</string>
</dict>
</plist>
