<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
    <key>upwardModifyFilter</key>
    <string>DisplayImmenseDeliverExtension</string>
    <key>ventureMediatorWittyFor</key>
    <string>UltimateLandOffBuilder</string>
    <key>carefulWatchFactoryList</key>
    <string>DarkNaturalNearFactory</string>
    <key>processFormatterDatabase</key>
    <string>LocalPeakSetList</string>
</dict>
</plist>
