<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
    <key>fastThenFile</key>
    <string>ShowInsideHandsomeTransformable</string>
    <key>seaResilientBroker</key>
    <string>AlcoveViableContinueExtension</string>
    <key>overWidePeakView</key>
    <string>WildAgentPerformDispatcher</string>
    <key>dropOuterProfileVisitor</key>
    <string>DetectObviousLightEngine</string>
    <key>atMinimalLayerDispatcher</key>
    <string>PetiteStagePastCoordinator</string>
    <key>gracefulStrengthPush</key>
    <string>CleverIdleCancelSerializer</string>
</dict>
</plist>
