<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
    <key>selectComplex</key>
    <string>WindowPlainEndStack</string>
    <key>alongKindHeaderStrength</key>
    <string>EntryUrbaneCancelEngine</string>
    <key>proudDefineWeb</key>
    <string>CalmModernConvertCollection</string>
    <key>outsideExtensionRest</key>
    <string>ViaLucentWideAdapter</string>
    <key>panelHealthyAcross</key>
    <string>BuildEqualMonitorDispatcher</string>
    <key>honestFillFacadeLiberal</key>
    <string>TranquilLandLockThen</string>
    <key>testReportPassive</key>
    <string>ChainResilientMultiplyVisitor</string>
    <key>originFreeProxy</key>
    <string>EasyGladeAmongHeader</string>
</dict>
</plist>
