<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
    <key>keenProvider</key>
    <string>ModuleBonnyAtFormatter</string>
    <key>helperDramatic</key>
    <string>AccelerateQualityReliefTarget</string>
    <key>setCollectionFlukeWary</key>
    <string>WaySupremeOffLoader</string>
    <key>trueIdle</key>
    <string>OriginOuterPaintCommand</string>
    <key>listVectorNaturalWith</key>
    <string>NectarLaunchSuperFormatter</string>
    <key>brokerBesideDualSilver</key>
    <string>SpokeUrbaneCancelInterpreter</string>
    <key>poolSelectImproved</key>
    <string>PlayAdvancedHarborTransformable</string>
    <key>belowWinsome</key>
    <string>SteadyTrackUponFacade</string>
</dict>
</plist>
