<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
    <key>aroundSwirlAdapterRare</key>
    <string>DuringBonnyHarmonicOwner</string>
    <key>moveCache</key>
    <string>ZealousCounterOfClass</string>
    <key>urbaneOnFactoryRiver</key>
    <string>AmongReportAbsoluteAdapter</string>
    <key>adeptModelUrchinPush</key>
    <string>TrainFreeDigitalCommand</string>
    <key>playfulTransformableGetVolume</key>
    <string>ConfigPleasedUpFactory</string>
    <key>handlerByFreeTrain</key>
    <string>WaitCascadePrimeContainer</string>
</dict>
</plist>
