<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
    <key>decoratorExpertBeginFluent</key>
    <string>PlushPaintRateInterpreter</string>
    <key>senseEnumBeneathVibrant</key>
    <string>EdgeThroughGiftedPool</string>
    <key>onNorthYoung</key>
    <string>ModalPlazaRunAdapter</string>
    <key>viewDelete</key>
    <string>InsideDurableBlitheFilter</string>
</dict>
</plist>
