<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
    <key>agentAustereOfTheme</key>
    <string>SegmentYieldingRestoreAgent</string>
    <key>genericHandlerLithe</key>
    <string>PrimeObjectPlayCoordinator</string>
    <key>formatterBlithe</key>
    <string>MarkTempleImmensePool</string>
    <key>transformProxyQuill</key>
    <string>SecurePlazaRoundDefine</string>
</dict>
</plist>
