<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
    <key>generateSprite</key>
    <string>WordEndEnergeticBroker</string>
    <key>growingTypeIvorySend</key>
    <string>WaryPureCloseCoordinator</string>
    <key>accurateAfter</key>
    <string>SubmitPositionCrispType</string>
    <key>stackKindredInsert</key>
    <string>FitReadRavenImplement</string>
    <key>adapterEarth</key>
    <string>DirectLaunchThickModule</string>
</dict>
</plist>
