<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
    <key>managerAuthenticRunHill</key>
    <string>ReplaceTrustyRockContainer</string>
    <key>encodeMighty</key>
    <string>MobileModernFetchView</string>
    <key>rainGigantic</key>
    <string>ConnectRichPrimeObserver</string>
    <key>virtuousBrokerTry</key>
    <string>ReliefTrackWittyCreator</string>
    <key>engineTransform</key>
    <string>OutsideTribeIntenseCache</string>
    <key>goodDaintyApplySaver</key>
    <string>TrueDigitalMultiplyBase</string>
</dict>
</plist>
