<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
    <key>saverWide</key>
    <string>SearchSkillCrispHandler</string>
    <key>shoreGenerateVictorious</key>
    <string>GreenSearchQueryDefine</string>
    <key>livelyGlad</key>
    <string>RangeMergeLocalHeader</string>
    <key>mildAtLanguageView</key>
    <string>ForcefulQuirkRestoreHelper</string>
    <key>carefulOn</key>
    <string>BrightGlobalAnalyzeTransformable</string>
</dict>
</plist>
