<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
    <key>creativeReferenceBasin</key>
    <string>GenerousStageFindInstance</string>
    <key>isletNotable</key>
    <string>StageDownYoungFacade</string>
    <key>willingSelectMarker</key>
    <string>NatureToMinimalFilter</string>
    <key>multiplyCreatorSignalWhole</key>
    <string>OwlDaintyPushSaver</string>
</dict>
</plist>
