<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
    <key>stackBetween</key>
    <string>VividPauseZephyrBroker</string>
    <key>whisperOverTransformableSubmit</key>
    <string>SendDesertLocalValidator</string>
    <key>ownerMoment</key>
    <string>TunnelEndFitCommand</string>
    <key>saverSyncProper</key>
    <string>InsideInitialBridgeBroker</string>
    <key>basePaint</key>
    <string>TrackJustSharpBase</string>
    <key>lockSereneListDark</key>
    <string>MagicalRingDeliverCommand</string>
    <key>thenThroughIntimateComposite</key>
    <string>GlobeContinueHardySerializer</string>
    <key>invitingPrompt</key>
    <string>ProudCrestBeneathReference</string>
    <key>nearDataSourceOriginDebug</key>
    <string>SwirlDeleteInvitingInterpreter</string>
</dict>
</plist>
