<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
    <key>pastGroupFaithful</key>
    <string>LogComplexActionReference</string>
    <key>spiritViewEasy</key>
    <string>ObviousCreateAgentReference</string>
    <key>skilledScriptAgent</key>
    <string>ProudStoneOutsideHandler</string>
    <key>forAdapter</key>
    <string>ExquisiteBeneathWinterDeserializer</string>
    <key>thenBuoyant</key>
    <string>BoldMapPromptStrategy</string>
    <key>accountSelectGreatImplement</key>
    <string>BindEasyRemoteAgent</string>
    <key>syncCache</key>
    <string>TerseReceiveTacticTarget</string>
</dict>
</plist>
