<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
    <key>universalToward</key>
    <string>ZephyrVerifyStrongModel</string>
    <key>endWarmClassThorn</key>
    <string>DramaticAnalyzeContentSerializer</string>
    <key>querySmart</key>
    <string>PositiveOceanThroughClass</string>
</dict>
</plist>
