<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
    <key>offsetReference</key>
    <string>SuperRecordOffsetDataSource</string>
    <key>checkAustereGroupLimit</key>
    <string>FreeExecuteStrongTransformable</string>
    <key>beyondUtmost</key>
    <string>DaleFluentCleanDataSource</string>
    <key>authenticStackControlDecode</key>
    <string>OptimalScanIntoDispatcher</string>
    <key>proudDeserializerYear</key>
    <string>YieldingRemoveMessageValidator</string>
    <key>radiantInsertMelody</key>
    <string>CryptBuoyantWatchHelper</string>
    <key>durableBuild</key>
    <string>QuickTestHonestArray</string>
    <key>selfProper</key>
    <string>PlayJustDashboardCollection</string>
    <key>boundAmidGenuine</key>
    <string>DirectAlertWithinVisitor</string>
    <key>builderTempleAlong</key>
    <string>MatureFairyMoveTransformable</string>
</dict>
</plist>
