<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
    <key>toolPaintInsight</key>
    <string>DistinctNearCivicFilter</string>
    <key>gloriousDeserializerForWhisper</key>
    <string>QueryPlushWaitAgent</string>
    <key>plushFetch</key>
    <string>StopProudHarmonyImplement</string>
    <key>checkPrimal</key>
    <string>HavenSimpleDecodeHelper</string>
    <key>filterPureSignal</key>
    <string>AccessCompositeFixBuilder</string>
</dict>
</plist>
